include ../mixins.jade

- const isEventsOnlyQuery = $helpers.isEventsOnlyQuery()

.builder-screen.properties(hook={postpatch: $helpers.updateRenderedSize})
  +screen-title($helpers.getScreenTitle(), {backButton: !!$helpers.screenIdx()})
  +property-screen-body({
    sources: isEventsOnlyQuery && $helpers.getSources(),
    selectedSource: $helpers.getSelectedSource(),
    clickedSource: $helpers.clickedSource,
    shouldShowPropertySections: $helpers.shouldShowPropertySections(),
    searchFilter: contextFilter,
    propertySections: $helpers.getPropertySections(),
    clickedProperty: $helpers.clickedProperty,
  })
