include ../mixins.jade

- const isEventsOnlyQuery = $helpers.isEventsOnlyQuery()

.builder-screen.properties(hook={postpatch: $helpers.updateRenderedSize})
  +screen-title(`Group by a ${isEventsOnlyQuery ? `` : `people`} property`, {backButton: !!$helpers.screenIdx()})
  +property-screen-body({
    resourceTypes: isEventsOnlyQuery && $helpers.RESOURCE_TYPES,
    selectedResourceType: $helpers.getSelectedResourceType(),
    clickedResourceType: $helpers.clickedResourceType,
    shouldShowPropertySections: $helpers.shouldShowPropertySections(),
    searchFilter: contextFilter,
    propertySections: $helpers.getPropertySections(),
    clickedProperty: $helpers.clickedProperty,
  })
