@import "../../../stylesheets/common"

.builder-pane
  .builder-screen
    &.datetime-options
      width 280px

      .list-option .label
        text-transform capitalize

    .list-option-selected.datetime
      .option-label
        cursor pointer

      &:hover .label
        color mp-blue
