include ../mixins.jade

- const groupClauses = report.sections.group.clauses
- const lenGroupClauses = groupClauses.length

.builder-section.builder-group.insights-learn-disabled
  each clause, clauseIdx in groupClauses
    - const reorderRight = clauseIdx < lenGroupClauses - 1
    .clause-container
      .clause-language.preposition= clauseIdx ? 'and' : 'by'
    .clause-container
      .clause-header.group(
        class={hasRightCaret: reorderRight}
      )
        if clauseIdx
          button.reorder.reorder-left(on={click: () => $helpers.moveClause(clauseIdx, -1)})
            +small-caret-icon({direction: 'left'})
        .header-label.group= `${clause.resourceType === 'events' ? 'Event' : 'People'} Property`
        if reorderRight
          button.reorder.reorder-right(on={click: () => $helpers.moveClause(clauseIdx, 1)})
            +small-caret-icon({direction: 'right'})
      button.remove.group(on={click: () => $helpers.removeClause(clauseIdx)})
        svg-icon(attrs={icon: 'x'})
      .clause-body
        .control-container= $component.child('builder-group-edit-control', {attrs: {'clause-index': clauseIdx}})
