include ../mixins.jade

.builder-screen.properties(hook={postpatch: $helpers.updateRenderedSize})
  +screen-title(`Filter by a property`, {
    backButton: !!$helpers.screenIdx(),
    theme: `lite`,
  })
  +property-screen-body({
    sources: $helpers.getSources(),
    selectedSource: $helpers.getSelectedSource(),
    clickedSource: $helpers.clickedSource,
    propertySections: $helpers.getPropertySections(),
    searchFilter: contextFilter,
    clickedProperty: $helpers.clickedProperty,
  })
