include ../mixins.jade

.builder-screen.properties(hook={postpatch: $helpers.updateRenderedSize})
  +screen-title(`Filter by a property`, {backButton: $helpers.screenIdx() > 1})
  +property-screen-body({
    resourceTypes: $helpers.RESOURCE_TYPES,
    selectedResourceType: $helpers.getSelectedResourceType(),
    clickedResourceType: $helpers.clickedResourceType,
    propertySections: $helpers.getPropertySections(),
    searchFilter: contextFilter,
    clickedProperty: $helpers.clickedProperty,
  })
