- const open = $helpers.isPaneOpen()
- const showUpsellIcon = $helpers.shouldShowUpsellIcon()
- const showModal = $helpers.shouldShowUpsellModal()

.control-container
  .insights-new-control.new-query-builder(class={'pane-open': open})
    .control-buttons.add-filter-control
      .search-icon-wrapper
        svg-icon(attrs={icon: 'search'})
      input.control-label.builder-search-input(
        class={
          'search-active': open,
        }
        hook={
          postpatch: $helpers.updateFocus,
        }
        props={
          autoFocus: true,
          placeholder: 'Search',
          type: `text`,
          value: contextFilter,
        }
        on={
          click: $helpers.clickedInput,
          input: $helpers.changedSearch,
          keydown: $helpers.handleKeydown,
          blur: $helpers.blurredSearch,
        }
      )
      .add-filter-button-container
        button.add-filter-button(on={click: $helpers.clickedAdd})
          span.button-flex-wrapper(class={'filter-button-disabled': showUpsellIcon})
            svg-icon(attrs={icon: 'plus'})
            span.add-filter-label Filter
      if showUpsellIcon
        .upsell-icon
          svg-icon(attrs={icon: 'lighting-bolt'})
      if showModal
        .upsell-wrapper
          mp-upsell-popup(
            attrs={
              feature: `filter-levels`,
              name: `filterClause`,
              open: showModal,
            }
            on={change: $helpers.closeUpsellModal}
          )

  .drop-menu
    mp-drop-menu(attrs={open})
      .new-pane-content(attrs={'slot-body': true})
        = $component.child(`builder-pane`, {attrs: {open}})
