@import "../../../stylesheets/common"

control-font()
  color grey-700
  font-size 11px
  font-weight bold
  font-style normal
  font-stretch normal
  line-height normal
  letter-spacing normal
  text-align left
  text-transform uppercase

query-builder-filter
  .search-icon-wrapper
    svg-icon-style(grey-700, size: 16px)

  .filter-determiner-container
    display flex
    height 0
    margin 0 0 20px
    position relative
    width 100%
    &:before
      content ""
      display block
      margin-bottom 7px
      width 100%

    .filter-determiner-toggle
      color grey-700
      cursor pointer
      font-size 11px
      font-weight 700
      text-transform uppercase
      z-index 1

      &:hover, &:hover .filter-determiner-word
        color blue-100

    .filter-determiner-word
      color mp-blue

      &:before
        content space-character

  .builder-section.builder-filter
    display flex
    flex-wrap wrap

  .clause.filter
    display inline-flex
    &:nth-last-child(2)
      margin-right 8px

  .clause-language
    display inline-flex
    font-size 14px
    margin 2px 8px 0 0

builder-filter-add-control
  .insights-new-control.new-query-builder

    .add-filter-control
      display flex
      height 38px

      // TODO extract/consolidate search input styles
      input.builder-search-input
        border-bottom 1px dotted mp-blue
        font-size 14px
        text-indent 20px
        width input-width

        &.search-active
          margin-right 10px

        &:focus
          border-bottom-style solid

      .upsell-icon
        position absolute
        right -10px
        top -8px
        svg-icon-style(mp-purple)

      .add-filter-button
        background-image linear-gradient(0deg, grey-50 0, white 100%)
        border 1px solid grey-300
        border-radius 3px
        box-shadow 0 1px 1px 0 alpha(black, 0.2)
        color grey-700
        font-size 12px
        font-weight 500
        padding 0

        &:hover
          background-image linear-gradient(0deg, white 0, white 100%)
          box-shadow 0 1px 2px 0 alpha(black, 0.23)
          color blue-300
        &:active
          border-color grey-200
          box-shadow 0 1px 0 0 grey-150, inset 0 2px 3px 0 grey-200
          color rgba(grey-700, 0.8)

      .button-flex-wrapper
        align-items center
        display flex
        padding 3px 11px 5px 4px
        svg-icon-style(grey-700, blue-300, pos-top: 1px)

      .upsell-wrapper
        left 100px
        position absolute
        top 8px

    /**
     * Input animation
     */

    .add-filter-button-container
      transform translate3d(-(input-width), 0, 0)
      transition transform input-animation-time ease-out-quart

      // partially cover input underline through animation
      &::after
        background white
        content ''
        height calc(100% + 3px)
        left 0
        position absolute
        top 0
        transform scaleX(1)
        transform-origin left center
        transition transform input-animation-time ease-in-quart
        width 166px // width of input
        z-index -1 // don't overlap button

    &:not(.pane-open)
      .builder-search-input,
      .add-filter-button-container::after
        pointer-events none
        visibility hidden

    &.pane-open
      .button-flex-wrapper svg-icon
        transform rotateZ(45deg)

      .add-filter-button-container
        transform translate3d(0, 0, 0)

        &::after
          transform scaleX(.5)

builder-filter-edit-control
  .insights-control button.modify
    font-size 13px

  .builder-pane
    height 466px

builder-screen-filter-properties-list
  .builder-screen.properties .list-option
    .caret-icon
      opacity 0
      svg-icon-style(mp-blue)
    &:hover
      .caret-icon
        opacity 1

$type-menu-width = 135px

builder-screen-filter-property
  .builder-screen.filter-property
    max-height 550px

    li.filter-menu-item
      border-radius 3px
      color grey-700
      cursor pointer
      font-size 12px
      font-weight 500
      line-height 30px
      padding 0 10px
      text-transform none
      &.filter-menu-item-selected
        color grey-900
        font-weight 900

      &:hover
        background-color grey-100
        color mp-blue

    button.filter-menu-button
      background none
      border none
      position relative
      transition color 0.2s
      control-font()
      svg-icon-style(grey-700, mp-blue)

      .button-flex-wrapper
        align-items center
        display flex

      &:hover
        color mp-blue

      .filter-prop-name
        font-family font-helvetica-neue
        margin-left 5px

    .filter-menu
      left 50%
      position absolute
      text-align left
      text-transform none
      top 42px
      transform translate3d(-50%, 0, 0)
      width $type-menu-width
      z-index 10

    .filter-operator-dropdown
      position relative

      .filter-menu-button
        border 1px solid grey-200
        border-radius 5px
        padding 5px 8px 7px
        width 100%
        &:hover
          border-color mp-blue
        .filter-prop-name
          font-size 11px
          margin-right auto
        svg-icon[empty]
          display none

      .filter-menu
        width 100%
        .filter-operators
          padding 10px
          text-transform uppercase
          width 270px

    .screen-title
      justify-content center

      .back-button
        left 0
        top 0

      .filter-type-dropdown
        .filter-types
          box-sizing border-box
          padding 10px
          width $type-menu-width
          .filter-menu-item
            align-items center
            display flex
            font-size 12px
            text-transform capitalize
            transition color 0.2s
            svg-icon-style(grey-700, mp-blue)
            svg-icon
              margin-right 8px
          .filter-menu-item-selected
            svg-icon-style(grey-900)

    .filter-chooser
      display flex
      flex-direction column
      min-height 125px

      &.filter-type-number
        min-height 160px

      .filter-operator-dropdown
        margin 10px 15px
        border-bottom 1px solid grey-150
        padding-bottom 11px

      .screen-list-container
        padding 0 10px
        min-height 100px

      .filter-radio-list
        align-items center
        display flex
        margin 23px 10px 10px
        &.filter-boolean
          margin 23px 70px
        &.filter-list
          border-bottom 1px solid grey-150
          padding-bottom 23px
        .radio-button
          flex-grow 1
          justify-content center

      .filter-string-input-wrapper
        box-sizing border-box
        margin-bottom 10px
        padding 0 15px
        width 100%
        .filter-string-input
          box-shadow inset-shadow
          color grey-900
          font 500 13px font-helvetica-neue
          padding 10px 0 10px 12px
          width 100%
        &.filter-string-search
          margin-bottom 12px
          margin-top 2px
          position relative
          svg-icon-style(grey-500, pos-left: 7px, pos-top: 7px)
          svg-icon
            position absolute
          input
            padding-left 32px

      .filter-string-contains-choices
        padding 5px
        li
          border-radius 3px
          color grey-700
          cursor pointer
          font-size 12px
          font-weight 500
          line-height 30px
          padding 0 10px
          &:hover
            background-color grey-100
            color mp-blue

      .filter-string-contains-choices
        padding 5px
        li
          border-radius 3px
          color grey-700
          cursor pointer
          font-size 12px
          font-weight 500
          line-height 30px
          padding 0 10px
          &:hover
            background-color grey-100
            color mp-blue

      .filter-numdate
        box-sizing border-box
        display flex
        margin 2px 0 0 0
        padding 0 15px
        padding-bottom 15px
        width 100%
        z-index 0 // fix z-index issue between operator dropdown and calendar

        &.filter-numdate-between
          align-items center
          justify-content space-between

          .filter-numdate-input
            width 112px

        .filter-numdate-input
          box-shadow inset-shadow
          padding 11px 8px
          width 290px

        .inputs
          padding-bottom 11px

        .calendar mp-calendar
          width 100%

      span.filter-conjunction
        align-items center
        background-color grey-100
        border-radius 3px
        display inline-flex
        height 36px
        justify-content center
        width 46px
        control-font()

      .checkbox-item
        border-radius 3px
        line-height 30px
        padding 6px
        box-sizing border-box
        &:hover
          background-color grey-100
          color mp-blue
          .checkbox-label
            color mp-blue

        .checkbox-label
          color grey-700

        .checkbox-select-icon
          background-color white
          &.colored
            background-color mp-blue
            border-color mp-blue
            svg-icon-style(white, pos-left: -3px, pos-top: -3px)

    button.screen-footer
      background-color mp-blue
      border-radius 0 0 5px 5px
      border-top 1px solid blue-700
      color white
      font-family font-helvetica-neue
      font-size 14px
      font-weight 900
      height 48px
      &:hover
        background-color blue-100
      &:active
        background-color mp-blue
        box-shadow 0 1px 1px 0 rgba(0,0,0,0), inset 0 2px 2px 0 rgba(0,0,0,0.2)
        color rgba(255,255,255,.6)

.radio-button
  align-items center
  display flex
  control-font()
  &::before
    content ''
    border 1px solid grey-200
    border-radius 10px
    display inline-block
    height 15px
    margin-right 8px
    width 15px
  &.radio-selected::before
    border 6px solid mp-blue
    height 5px
    width 5px
