@import "../../stylesheets/common"

hmargin = 30px
mp-black = #2c3642

.drawer-close-wrapper
  cursor pointer
  display inline-block
  position absolute
  right 20px
  top 20px
  svg-icon-style(grey-300, grey-200, size: 30px)

.no-reports
  position relative
  text-align center
  width 690px
  .no-reports-img
    background-image url('~assets/images/empty-state.svg')
    background-repeat no-repeat
    height 151px
    margin 185px auto 10px auto
    width 213px
  h1
    color grey-900
    font-size 18px
    margin-top 13px
    margin-bottom 5px
  p
    color grey-500
    font-size 16px
    font-weight 500
    margin-top 0

.user-filter
  display inline-flex
  margin 34px hmargin 0 hmargin
  width 630px
  .user-filter-border-spacer
    border-bottom 1px solid grey-150
    display inline-block
    &.border-spacer-left
      min-width 39px
    &.border-spacer-right
      width 100%
  .user-filter-option
    border-bottom 1px solid grey-150
    color grey-700
    display inline-block
    font-size 11px
    font-weight bold
    padding 14px
    text-transform uppercase
    white-space nowrap
    transition border-bottom-color 200ms
    &.user-filter-selected
      border-bottom-color blue-300
      color grey-900
    &:not(.user-filter-selected)
      cursor pointer
      &:hover
        color blue-300

.reportlist-search
  align-items center
  display flex
  font-size 16px
  margin 34px hmargin
  padding-bottom 5px
  position relative
  .reportlist-search-icon
    svg-icon-style(grey-300, size: 23px)
    svg-icon
      position absolute
      left 21px
      top 12px

  input, input[type="text"]
    box-shadow none
    border 1px solid grey-150
    border-radius 110px
    color grey-700
    font-family 'Helvetica Neue', Helvetica, Arial, sans-serif
    font-size 16px
    font-weight normal
    height 48px
    line-height 38px
    outline none
    padding 0 0 0 50px
    width 100%

    &:focus
      outline none
      border-bottom 1px solid blue-300


.reports
  background-color #f9fafc
  height 100%
  width 690px

  .report-row
    align-items center
    border-bottom 1px solid grey-150
    display flex
    font-size 14px
    height 50px
    position relative

    &.header-row
      background-color #fff
      color grey-700
      height auto
      font-size 11px
      font-weight bold
      padding-bottom 5px
      padding-left 72px
      text-transform uppercase

      .report-col
        align-items center
        cursor pointer
        display flex
        &.reportlist-field-selected
          color grey-900
        &:not(.reportlist-field-selected):hover .reportlist-sort-arrows::before
          background-color grey-700
        &:hover reportlist-sort-arrows
          opacity 1

        .reportlist-col-title
          line-height 1

        .reportlist-sort-arrows
          svg-icon-style(grey-300, size: 17px)
          align-items center
          display flex
          flex-direction column
          opacity 0
          right 0
          top 0
          &.reportlist-sort-selected
            opacity 1

          .caret:nth-child(2)
            margin-top -10px

          &.reportlist-sort-asc .caret-up, &.reportlist-sort-desc .caret-down
            svg-icon-style(grey-900, size: 17px)

    &.body-row
      color grey-700
      cursor pointer
      padding-left 36px
      background-color #fff
      &:hover
        background-color grey-50
        .reportlist-field-title
          color blue-300
        .delete
          display flex
        .reportlist-field-modified
          color blue-300

      svg-icon
        margin-right 14px
      &.icon-bar
        svg-icon-style(mp-seafoam)
      &.icon-line
        svg-icon-style(blue-300)
      &.icon-table
        svg-icon-style(mp-orange)

      .reportlist-field-title
        cursor pointer
        overflow hidden
        text-overflow ellipsis
        white-space nowrap
        .matches-search
          color blue-300

      .reportlist-field-modified
        font-size 13px

      .reportlist-field-user
        .user-icon
          margin-left 12px

          // TODO mixpanel-common
          border-radius 50%
          color #fff
          cursor default
          display inline-block
          font-family 'Helvetica Neue', Helvetica, Arial, sans-serif
          font-size 11px
          font-weight 600
          height 26px
          line-height 26px
          text-align center
          width 26px
          background-color #1e7171
          &.color-A
            background-color #33bcbd
          &.color-B
            background-color #2da9aa
          &.color-C
            background-color #289697
          &.color-D
            background-color #238384
          &.color-E
            background-color #64ade8
          &.color-F
            background-color #5a9bd1
          &.color-G
            background-color #508bba
          &.color-H
            background-color #4679a2
          &.color-I
            background-color #3c688b
          &.color-J
            background-color #a28ccb
          &.color-K
            background-color #917db6
          &.color-L
            background-color #826fa2
          &.color-M
            background-color #71618d
          &.color-N
            background-color #61547a
          &.color-O
            background-color #d97b7f
          &.color-P
            background-color #c36e72
          &.color-Q
            background-color #ad6366
          &.color-R
            background-color #985559
          &.color-S
            background-color #e8bc65
          &.color-T
            background-color #d0a95b
          &.color-U
            background-color #b99651
          &.color-V
            background-color #a28347
          &.color-W
            background-color #f6893b
          &.color-X
            background-color #dd7b35
          &.color-Y
            background-color #c46e30
          &.color-Z
            // use default

          mp-tooltip, irb-mp-tooltip
            line-height initial

    .report-col
      &.reportlist-field-title
        width 350px
      &.reportlist-field-user
        width 114px
      &.reportlist-field-modified
        width 110px
      &.delete
        display none
        height 20px
        justify-content flex-end
        svg-icon-style(grey-300, mp-red)
        svg-icon
          cursor pointer
          margin 0
