include ../mixins.jade

.builder-screen.properties
  +screen-title(`Group by a property`, {backButton: $helpers.screenIdx() > 1})
  +resource-type-toggle($helpers.RESOURCE_TYPES, {
    selected: $helpers.getSelectedResourceType(),
    onclick: $helpers.clickedResourceType,
  })
  +property-list($helpers.getProperties(), {
    clickedProperty: $helpers.clickedProperty,
    loading: $component.isLoading(),
    scrolledList: $helpers.scrolledList,
  })
