include ../mixins.jade

- const isEventsOnlyQuery = $helpers.isEventsOnlyQuery()
- const resourceType = $helpers.getSelectedResourceType()
- const properties = $helpers.getProperties()
- const recentProperties = $helpers.getRecentProperties()

.builder-screen.properties
  +screen-title(`Group by a ${isEventsOnlyQuery ? `` : `people`} property`, {backButton: $helpers.screenIdx() > 1})
  +property-screen-body({
    resourceTypes: isEventsOnlyQuery && $helpers.RESOURCE_TYPES,
    selectedResourceType: $helpers.getSelectedResourceType(),
    clickedResourceType: $helpers.clickedResourceType,
    properties: $helpers.getProperties(),
    recentProperties: $helpers.getRecentProperties(),
    clickedProperty: $helpers.clickedProperty,
    scrolledList: $helpers.scrolledList,
    loading: $component.isLoading(),
  })
