include ../mixins.jade
- const groupClauses = report.sections.group.clauses
- const lenGroupClauses = groupClauses.length

.builder-section.builder-group
  for clause, clauseIdx in groupClauses
    .builder-container
      .clause-langauge.preposition= clauseIdx ? 'and' : 'by'
    .builder-container
      .clause-header
        if clauseIdx > 0
          button.reorder.reorder-left(onclick=() => $helpers.moveClause(clauseIdx, -1))
            +small-caret-icon({direction: 'left'})
        .header-label= `${clause.resourceType === 'events' ? 'Event' : 'People'} Property`
        if clauseIdx < lenGroupClauses - 1
          button.reorder.reorder-right(onclick=() => $helpers.moveClause(clauseIdx, 1))
            +small-caret-icon({direction: 'right'})
      .control-container= $component.child('builder-group-edit-control', {attributes: {'clause-index': clauseIdx}})
