include ../mixins.jade
- const groupClauses = report.sections.group.clauses
- const lenGroupClauses = groupClauses.length

.builder-section.builder-group
  for clause, clauseIdx in groupClauses
    .builder-container
      .clause-header
        if clauseIdx > 0
          button.reorder.reorder-left(onclick=() => $helpers.moveClause(clauseIdx, -1))
            +small-caret-icon({direction: 'left'})
        .preposition= clauseIdx ? 'and' : 'by'
        .header-label= 'Group' + (lenGroupClauses === 1 ? '' : ' ' + (clauseIdx + 1))
        if clauseIdx < lenGroupClauses - 1
          button.reorder.reorder-right(onclick=() => $helpers.moveClause(clauseIdx, 1))
            +small-caret-icon({direction: 'right'})
      .control-container= $component.child('builder-group-edit-control', {attributes: {'clause-index': clauseIdx}})
  if lenGroupClauses < 10
    .builder-container
      .control-container= $component.child('query-builder-add-contextual')
