@import "../../../stylesheets/common"

typecast-pane
  .list-option
    .option-icon
      display flex
      svg-icon-style(grey-700, inherit)
    .option-label
      color grey-700
      padding-right 10px
      text-align left
      text-transform capitalize

    &:hover
      .option-label
        color inherit

