.insights-header.insights-learn-disabled
  insights-title-input(
    attrs={
      'disabled': !$helpers.titleInputEnabled(),
      'show-save-new': $helpers.isExistingReport(),
    }
    props={value: report.title}
    on={change: $helpers.updateTitle}
  )
  .loading-dock
    button.refresh-query(
      attrs={title: `Refresh results`}
      on={click: $helpers.refresh}
    )
      svg-icon(attrs={icon: `refresh`})
      mp-tooltip(attrs={placement: `top`}) Refresh
    button.download(
      attrs={title: `Download CSV`}
      class={enabled: !resultLoading}
      on={click: $helpers.clickExportCSV}
    )
      svg-icon(attrs={icon: `export`})
      if $helpers.showExportCSVIcon()
        .upsell-icon
          svg-icon(attrs={icon: `lighting-bolt`})
      mp-tooltip(attrs={placement: `top`}) Download CSV
    .upsell-wrapper.csv-export
      mp-upsell-popup(
        attrs={
          feature: `export-csv`,
          name: `exportCSV`,
          open: $helpers.showExportCSVUpsell(),
        }
        on={change: ev => $helpers.closeUpsell(ev, `exportCSV`)}
      )
    button.report-list-button(
      attrs={title: `Saved reports`}
      class={saved, 'save-failed': saveFailed}
      on={click: $helpers.clickReportList}
    )
      svg-icon(attrs={icon: `saved-reports`})
      mp-tooltip(attrs={placement: `top`}) Saved reports
    .upsell-wrapper.save-report
      mp-upsell-popup(
        attrs={
          feature: `bookmark-maximum`,
          name: `saveReport`,
          open: $helpers.showSaveReportUpsell(),
        }
        on={change: ev => $helpers.closeUpsell(ev, `saveReport`)}
      )
    if $helpers.showAddToDash()
      if $helpers.addToDashEnabled()
        add-to-dash(
          attrs=$helpers.dashboardAttrs(),
          on={'report-added': $helpers.dashboardReportAdded}
        )
      else
        .add-to-dash
          add-to-dash(attrs={
            disabled: true,
            'report-type': 'insights',
          })
          mp-tooltip(attrs={placement: `bottom`})
            div(style={display: 'block'})
              div Please save the report before
              div adding it to your dashboard
