.insights-header.insights-learn-disabled
  insights-title-input(
    attrs={
      'disabled': !$helpers.titleInputEnabled(),
      'show-save-new': $helpers.isExistingReport(),
    }
    props={value: report.title}
    on={change: $helpers.updateTitle}
  )
  .loading-dock
    button.refresh-query(
      attrs={title: `Refresh results`}
      on={click: $helpers.refresh}
    )
      svg-icon(attrs={icon: `refresh`})
      mp-tooltip(attrs={placement: `bottom`}) Refresh
    button.download(
      attrs={title: `Download CSV`}
      class={enabled: !resultLoading}
      on={click: $helpers.clickExportCSV}
    )
      svg-icon(attrs={icon: `export`})
      if $helpers.showExportCSVIcon()
        .upsell-icon
          svg-icon(attrs={icon: `lighting-bolt`})
      mp-tooltip(attrs={placement: `bottom`}) Download CSV
    .upsell-wrapper.csv-export
      mp-upsell-popup(
        attrs={
          feature: `export-csv`,
          open: $helpers.showExportCSVUpsell(),
        }
        on={change: $helpers.closeUpsell}
      )
    button.report-list-button(
      attrs={title: `Saved reports`}
      class={saved, 'save-failed': saveFailed}
      on={click: $helpers.clickReportList}
    )
      svg-icon(attrs={icon: `saved-reports`})
      mp-tooltip(attrs={placement: `bottom`}) Saved reports
    .upsell-wrapper.save-report
      mp-upsell-popup(
        attrs={
          feature: `bookmark-maximum`,
          open: $helpers.showSaveReportUpsell(),
        }
        on={change: $helpers.closeUpsell}
      )
    - const existingBookmark = $component.app.mpContext.bookmarks.find(bm => bm.id === report.id);
    - const mp = $component.app.mpContext;
    - const flags = mp.flags;
    if !mp.standalone && existingBookmark
      add-to-dash(
        attrs={
          'access-token': mp.accessToken,
          'all-tags': JSON.stringify(mp.dashboardTags),
          'bookmark': JSON.stringify(existingBookmark),
          'disabled': !report.id,
          'mixpanel-host': $component.app.apiHost,
          'project-id': mp.projectID,
          'report-name': report.title,
          'report-type': 'insights',
          'selected-tags': JSON.stringify(existingBookmark.tags || []),
          'show-tutorial-tooltip': flags.VIEWED_REPORT_COUNT >= 30 && !flags.DASHBOARD_ADDED_REPORT_OR_SEEN_TOOLTIP,
          'user-id': mp.userID,
        }
        on={'report-added': $helpers.dashboardReportAdded}
      )
    else
      add-to-dash(attrs={
        disabled: true,
        'report-type': 'insights',
      })
