@import "../../stylesheets/common"

border-curve = 4px
button-height = 40px

insights-title-input
  height button-height
  position relative

  .insights-title-input
    display flex

  input[type=text], .title-input-disabled, span.mp-name-input-dummy
    background-color inherit
    border none
    color grey-700
    font-size 16px
    font-weight normal
    height button-height
    outline none
    padding 0 13px

  .title-input-disabled
    line-height button-height

  .title-input-enabled
    border 1px solid transparent
    border-radius border-curve
    display inline-flex

    button
      border-radius 3px
      cursor text
      font-size 12px
      font-weight bold
      margin 5px
      margin-left 0
      padding 7px 16px
      &.title-button-disabled
        cursor initial
      &.title-save-new
        border 1px solid grey-200
        color grey-700
        transition border 150ms, box-shadow 150ms, color 150ms
        &.title-button-disabled
          color grey-500
        &.focused, &:focus
          border 1px solid blue-100
          box-shadow 0 0 3px rgba(mp-blue, .75)
          color mp-blue
          transition border 150ms, box-shadow 150ms, color 150ms
        &:hover
          box-shadow 0 1px 3px rgba(76,96,113,.16)
          color blue-300
        &:active
          background-color grey-50
          box-shadow 0 1px 3px rgba(76,96,113,.16)
      &.title-save
        background-image linear-gradient(0deg, mp-blue 0, blue-100 100%)
        border-color blue-500
        color #fff
        transition border 150ms, box-shadow 150ms, color 150ms
        &.title-button-disabled
          color grey-200
        &.focused, &:focus
          background-image linear-gradient(0deg, blue-100 0, blue-100 100%)
          border 1px solid blue-900
          box-shadow 0 0 3px rgba(blue-500, .65)
          transition border 150ms, box-shadow 150ms, color 150ms
        &:hover
          background-image linear-gradient(0deg, blue-100 0, blue-100 100%)
          box-shadow 0 1.5px 2.5px 0 alpha(black, 0.3)
        &:active
          background-image linear-gradient(to top, blue-500, blue-300), linear-gradient(blue-500, blue-500)
          box-shadow inset 0 1px 3px 0 rgba(0, 0, 0, 0.15);

    &:hover
      background-color #fff
      border-color grey-200
      box-shadow inset 0 1px 2px 0 rgba(0, 0, 0, 0.09)

    &.input-focused
      background-color #fff
      border-color blue-300
      button
        cursor pointer
        opacity 1
