.insights-title-input
  if enabled
    .title-input-enabled(class={'input-focused': active})
      resize-input.title-input(
        attrs={
          placeholder: active ? `` : `Untitled report`,
        }
        props={
          maxLength: 80,
          type: `text`,
          value: inputValue,
        }
        on={
          blur: $helpers.blur,
          focus: $helpers.focus,
          input: $helpers.inputChange,
          keydown: $helpers.keydownHandler,
        }
      )
      if active
        if $component.isAttributeEnabled(`show-save-new`)
          button.title-save-new(
            class={
              'title-button-focused': saveNewFocused,
              'title-button-disabled': $helpers.isSaveNewDisabled()
            }
            on={
              click: $helpers.clickSaveNew,
              mousedown: $helpers.buttonMousedown,
            }
          ) Save new
        button.title-save(
          class={
            'title-button-focused': saveFocused,
            'title-button-disabled': $helpers.isSaveDisabled()
          }
          on={
            click: $helpers.clickSave,
            mousedown: $helpers.buttonMousedown,
          }
        ) Save
  else
    .title-input-disabled= inputValue
