ul.toggle-view.chart-controls-component
  li(class={selected: isEditingExtrasMenu})
    button.extras-menu.irb-learn-emphasize(
      class={selected: isEditingExtrasMenu}
      on={click: $helpers.onClickExtrasMenu}
    )
      svg-icon(attrs={icon: 'ellipsis'})
    mp-drop-menu(
      attrs={open: isEditingExtrasMenu}
      on={change: $helpers.menuChange}
    )
      .extras-menu-options.options(attrs={'slot-body': true})
        .analysis.section
          .title analysis
          ul.control-list
            each analysis in $helpers.analysisChoices()
              - const analysisIsSelected = analysis == report.displayOptions.analysis
              li
                button.button-option(
                  class={
                    [analysis]: true,
                    selected: analysisIsSelected,
                    disabled: $helpers.isAnalysisDisabled(analysis),
                  }
                  on={
                    click: () => analysisIsSelected ? null : $helpers.onAnalysisClick(analysis),
                  }
                )
                  span.button-flex-wrapper
                    svg-icon(attrs={icon: `analysis-${analysis}`})
                    = analysis
        .value.section
          .title(class={disabled: $helpers.isValueToggleDisabled()}) value
          ul.control-list
            each value in $helpers.valueChoices()
              - const valueIsSelected = value == report.displayOptions.value;
              li
                button.button-option(
                  class={
                    [value]: true,
                    selected: valueIsSelected,
                    disabled: $helpers.isValueToggleDisabled(),
                  }
                  on={
                    click: () => valueIsSelected ? null : $helpers.onValueClick(value),
                  }
                )
                  span.button-flex-wrapper
                    svg-icon(attrs={icon: `value-${value}`})
                    = value
