.line-chart-container
  .chart-header-container= chartLabel
  .line-chart
    mp-line-chart(attributes={
      'data': JSON.stringify(data),
      'display-options': JSON.stringify(displayOptions),
    })
