.line-chart-container
  .header.line-chart-header= chartLabel
  .line-chart
    mp-line-chart(attributes={
      'data':JSON.stringify(data),
      'display-options':JSON.stringify(displayOptions),
    })
