include ../mixins.jade

- const recentEvents = $helpers.getRecentEvents()
- const eventListOptions = {
-   clickedEvent: $helpers.clickedEvent,
-   clickedEventProperties: $helpers.clickedEventProperties,
-   showPill: true,
- }

.builder-screen.events
  +screen-title('All Events', {backButton: true})
  .screen-list-container(on={scroll: $helpers.scrolledList})
    if recentEvents.length
      .builder-label Recently viewed
      +event-list(recentEvents, eventListOptions)
    +event-list($helpers.getEvents(), eventListOptions)
