include ../mixins.jade

.builder-screen.properties
  +screen-title(`People`, {backButton: !!$helpers.screenIdx()})
  .people-properties-lists
    +property-list($helpers.getSpecialOptions(), {
      clickedProperty: $helpers.clickedSpecialOptions
    })
    +property-list($helpers.getProperties(), {
      clickedProperty: $helpers.clickedProperty,
      loading: $helpers.isLoading()
    })
  //- if !$component.isLoading()
  //-   +screen-footer-button(($component.isShowingNonNumericProperties() ? `Hide` : `View all`) + ` non-numeric properties`, {
  //-     onclick: $helpers.toggleNonNumericProperties
  //-   })
