include ../mixins.jade

.builder-screen.math
  ul.screen-options-list
    each math in $helpers.MATH_TYPES
      li.list-option(onclick=() => $helpers.mathTypeClicked({math}))
        +screen-option(math)
