include ../../mixins.jade

.query-builder-show-header
  .header-label
    if $helpers.isStaticHeader()
      | Show Total
    else
      .header-word Show
      .active-math-header(on={click: $helpers.headerClicked})
        .header-word= $helpers.getCurrentMathChoice()
        svg-icon.math-caret(attrs={icon: 'caret-down'})
  .drop-menu
    mp-drop-menu(attrs={open: $helpers.isOpen()})
      .new-pane-content(attrs={'slot-body': true})= $component.child(`builder-pane`)
