include ../mixins.jade

.builder-screen.events
  +screen-title('All Events', {backButton: true})
  ul.screen-options-list(onscroll=$helpers.scrolledList)
    each mpEvent in $helpers.getEvents()
      - const renamedMpEvent = util.renameEvent(mpEvent.name)
      if renamedMpEvent.toLowerCase().includes(contextFilter.toLowerCase())
        li.list-option(onclick=() => $helpers.clickedEvent(mpEvent))
          +screen-option(renamedMpEvent, {
            icon: util.getIconForEvent(mpEvent)
          })
          +secondary-action-pill('Properties', {
            onclick: ev => $helpers.clickedEventProperties(ev, mpEvent)
          })
