include ../mixins.jade

- const loading = $helpers.isLoading();

.builder-screen.properties
  +screen-title(`Properties of ${$helpers.getEventName()}`, {backButton: $helpers.screenIdx() > 1})
  .screen-list-container(on={scroll: $helpers.scrolledList})
    +property-list($helpers.getProperties(), {
      clickedProperty: $helpers.clickedProperty,
      loading,
    })
  if !loading
    +screen-footer-button(($component.isShowingNonNumericProperties() ? `Hide` : `View all`) + ` non-numeric properties`, {
      onclick: $helpers.toggleNonNumericProperties,
    })
