include ../mixins.jade

- const loading = $component.isLoading()

.builder-screen.properties
  +screen-title(`People`, {backButton: !!$helpers.screenIdx()})
  .screen-list-container(onscroll=$helpers.scrolledList)
    +property-list($helpers.getSpecialOptions(), {
      clickedProperty: $helpers.clickedSpecialOptions,
    })
    +property-list($helpers.getProperties(), {
      clickedProperty: $helpers.clickedProperty,
      loading,
    })
  if !loading
    +screen-footer-button(($component.isShowingNonNumericProperties() ? `Hide` : `View all`) + ` non-numeric properties`, {
      onclick: $helpers.toggleNonNumericProperties,
    })
