@import "../../../stylesheets/common"

.builder-pane .builder-screen.events
  .screen-list-container
    overflow scroll

  .builder-label
    margin 20px 18px 0

  ul + ul
    border-top 1px solid grey-150
    margin-top 2px
    overflow visible
    padding-top 2px
