@import "../../../stylesheets/common"

.builder-show.new-query-builder
  display flex
  align-item flex-end

  .builder-container
    display flex
    flex-direction column
    justify-content flex-end
    margin-bottom 18px
    margin-right 12px

  .clause-header
    color grey-300
    font-size 12px
    font-weight 500
    line-height 15px
    margin-bottom 8px
    text-transform uppercase

  .clause-langauge
    color grey-300
    line-height 36px

  .section.disabled
    opacity 0.3
    pointer-events none
