.builder-section.builder-show
  each clause, clauseIdx in report.sections.show.clauses
    - const attributes = {'clause-index': clauseIdx}
    if clauseIdx
      .clause-container
        .clause-language.preposition and
    .clause-container
      .clause-header= $component.child('query-builder-show-header', {attributes})
      .clause-body
        if clause.property && $helpers.showSourceForNumericProperties()
          .control-container= $component.child('builder-numeric-property-edit-control', {attributes})
            .clause-langauge.preposition on
        .control-container= $component.child('builder-show-edit-control', {attributes})
