.section.builder-show
  for clause, clauseIdx in report.sections.show.clauses
    .clause.comparison
      .clause-header
        h3= 'Show Total'
      if clause.property
        .control-container= $component.child('builder-numeric-property-edit-control')
        .preposition on
      .control-container= $component.child('builder-show-edit-control', {attributes: {'clause-index': clauseIdx}})
