@import "../../../stylesheets/common"

.pane-content
  position relative

  .filter-operator-input
    margin 12px
    width 50%

  .filter-value-input
    margin 12px
    margin-top 0
    width 100%

    input
      background lighten(grey-100, 50%)
      border 1px solid grey-300
      border-radius 2px
      color grey-700
      font-size 12px
      height 24px
      outline none
      padding 3px 8px
      // width 100% - padding - border - margin
      width calc(100% - 16px - 2px - 24px)

    mp-calendar input
      display inline-block
      margin-right 20px
      width calc(50% - 16px - 2px - 24px)

  &.filter-type-string
    .filter-string-equals-summary
      color grey-300
      font-size 12px
      position absolute
      right 16px
      top 49px

    .filter-string-equals-search
      border-top 1px solid grey-100

    ul.filter-string-equals-choices
      height 184px
      overflow-y scroll
      overflow-x hidden
      padding 8px 0

      li
        padding 4px 12px

        button
          background url("~assets/properties/checkbox-unchecked.svg") no-repeat
          border none
          color grey-500
          font-size 12px
          line-height 14px
          text-indent 18px

        &:hover, &.selected
          button
            color grey-700

        &.selected button
          background-image url("~assets/properties/checkbox-checked.svg")

    ul.filter-string-contains-matches
      padding 6px 0

      li
        font-size 12px
        padding 3px 8px

  &.filter-type-number, &.filter-type-datetime
    .filter-value-input
      &.filter-operator-between, &.filter-days-ago
        input, .filter-unit-input, .connector
          display inline-block

        input
          width calc(50% - 16px - 2px - 24px - 20px)

        .filter-unit-input
          margin-left 12px
          width calc(50% - 16px - 2px - 26px)

        .connector
          background lighten(grey-100, 40%)
          border-radius 2px
          color darken(grey-300, 10%)
          padding 8px 10px 9px
          margin 0 12px
          margin-bottom -7px
          vertical-align top
          font-size 12px

show-pane-content
  .show-pane-content ul.column.resource-value
    .resource-title, .resource-title:hover
      background-color transparent
      border-bottom 1px solid grey-300
      border-top 1px solid grey-300
      color inherit
      cursor initial
      font-size 10px
      padding-left 30px
      text-transform uppercase

event-pane-content
  .event-pane-content
    height 100%
    overflow hidden
    white-space nowrap

group-property-pane-content
  .pane-content
    height 100%
    overflow hidden
    white-space nowrap

    ul.resource-value
      width 328px


filter-property-value-pane-content
  .pane-content
    .filter-tabs
      position relative
      width 100%
      &::before
        border-bottom 1px solid border-gray
        bottom 0
        content ''
        left 0
        position absolute
        width 100%

      .filter-tab
        border 1px solid transparent
        border-bottom none
        border-top none
        display inline-block
        position relative
        transition background-color .2s, border-color .2s

        .filter-button-wrapper
          svg-icon-style(grey-500, blue-300, pos-left: 10px, pos-top: 10px)
          svg-icon
            position absolute

        &.type-string
          .filter-button-wrapper
            width 98px

        &.type-number
          .filter-button-wrapper
            width 103px

        &.type-datetime
          .filter-button-wrapper
            width 82px

        &.type-boolean
          .filter-button-wrapper
            width 124px

        &.type-list
          .filter-button-wrapper
            width 85px

        .filter-button-wrapper
          cursor pointer

        &:hover
          button
            color blue-300

        &.selected
          border-left 1px solid border-gray
          border-right 1px solid border-gray
          &::after
            border-bottom 1px solid #fff
            bottom 0
            content ''
            left 0
            position absolute
            width 100%
          .filter-button-wrapper
            border-bottom 1px solid transparent
            button
              border-left-color transparent
              color grey-900
            svg-icon-style(grey-900, pos-left: 10px, pos-top: 10px)
          & + .filter-tab
            button
              border-left-color transparent

        &:not(.selected)
          background lighten(grey-100, 50%)
          &:not(:hover)
            .filter-button-wrapper::before
              background-color grey-500

        &:first-child
          border-left none
          button
            border-left none

        &:last-child
          border-right none
          button
            border-right none

        button
          background-color transparent
          border 1px solid transparent
          border-left-color border-gray
          color grey-700
          font-size 13px
          font-weight 500
          height 22px
          line-height 12px
          margin 10px 0
          padding 0
          text-align center
          text-indent 16px
          transition color .2s
          width 100%
