@import "../../../stylesheets/common"

.pane-content
  position relative

  .filter-operator-input
    margin 12px
    width 50%

  .filter-value-input
    margin 12px
    margin-top 0
    width 100%

    input
      background lighten(background-gray, 50%)
      border 1px solid light-gray
      border-radius 2px
      color dark-gray
      font-size 12px
      height 24px
      outline none
      padding 3px 8px
      // width 100% - padding - border - margin
      width calc(100% - 16px - 2px - 24px)

    mp-calendar input
      display inline-block
      margin-right 20px
      width calc(50% - 16px - 2px - 24px)

  &.filter-type-string
    .filter-string-equals-summary
      color light-gray
      font-size 12px
      position absolute
      right 16px
      top 49px

    .filter-string-equals-search
      border-top 1px solid background-gray

    ul.filter-string-equals-choices
      height 130px
      overflow-y scroll
      overflow-x hidden
      padding 8px 0

      li
        padding 4px 12px

        button
          background url(../../../../assets/properties/checkbox-unchecked.svg) no-repeat
          border none
          color medium-gray
          font-size 12px
          line-height 14px
          text-indent 18px

        &:hover, &.selected
          button
            color dark-gray

        &.selected button
          background-image url(../../../../assets/properties/checkbox-checked.svg)

    ul.filter-string-contains-matches
      padding 6px 0

      li
        font-size 12px
        padding 3px 8px

  &.filter-type-number, &.filter-type-datetime
    .filter-value-input
      &.filter-operator-between, &.filter-days-ago
        input, .filter-unit-input, .connector
          display inline-block

        input
          width calc(50% - 16px - 2px - 24px - 20px)

        .filter-unit-input
          margin-left 12px
          width calc(50% - 16px - 2px - 26px)

        .connector
          background lighten(background-gray, 40%)
          border-radius 2px
          color darken(light-gray, 10%)
          padding 8px 10px 9px
          margin 0 12px
          margin-bottom -7px
          vertical-align top
          font-size 12px

show-pane-content
  .show-pane-content ul.column.resource-value
    .resource-title, .resource-title:hover
      background-color lighten(background-gray, 50%)
      border-bottom 1px solid light-gray
      border-top 1px solid light-gray
      color inherit
      cursor initial
      font-size 10px
      padding-left 10px
      text-transform uppercase

group-property-pane-content
  .pane-content
    height 100%
    overflow hidden
    white-space nowrap

    ul.resource-value
      width 328px

      li
        &::before
          background-position center
          background-repeat no-repeat
          content ''
          height 14px
          position absolute
          left 8px
          top 7px
          width 20px

        &.events::before
          background-image url(../../../../assets/properties/types/event.svg)
        &.people::before
          background-image url(../../../../assets/properties/types/people.svg)


filter-property-value-pane-content
  .pane-content
    table.tabs
      &, tr
        width 100%

      td
        border 1px solid light-gray
        border-top none
        transition background-color .2s, border-color .2s

        &:first-child
          border-left none

        &:last-child
          border-right none

        &:hover, &.selected
          button
            color medium-gray

        &.selected
          border-bottom-color white

        &:not(.selected)
          background lighten(background-gray, 50%)

        button
          background transparent 8px 7px no-repeat;
          border none
          color light-gray
          font-size 12px
          height 29px
          line-height 12px
          padding 6px 0 5px 0
          text-align left
          text-indent 29px
          transition color .1s
          width 100%

        &.type-string button
          background-image url(../../../../assets/properties/types/string.svg)

        &.type-number button
          background-image url(../../../../assets/properties/types/number.svg)

        &.type-boolean button
          background-image url(../../../../assets/properties/types/boolean.svg)

        &.type-list button
          background-image url(../../../../assets/properties/types/list.svg)

        &.type-datetime button
          background-image url(../../../../assets/properties/types/datetime.svg)

