include ../../mixins.jade

mixin property-entry(property, selected)
  - const propName = util.renameProperty(property.name)
  - const matches = $helpers.searchMatches(propName)
  if !!matches
    li.property(
      class=[`type-${property.type}`, property.resourceType]
      class={selected}
      onclick=() => $helpers.selectProperty(property)
    )
      - const icon = $helpers.resourceIcon(property.resourceType)
      svg-icon(attributes={icon, empty: !icon})
      +highlight-matches(matches)
      button.next-arrow(onclick=ev => $helpers.onPropertyArrowClick(ev, property)) ›
