- const learnStep = learnActive && util.getLearnStep(report, learnModalStepIndex);
- const learnClass = learnStep && learnStep.cls;

.insights-app(class={
  'error-no-project-data': !projectHasEvents,
  'insights-learn-active': !!learnActive,
  [learnClass]: !!learnClass,
})
  if learnActive
    = $component.child(`insights-learn`)
  .insights-main-panel.top-panel
    = $component.child(`insights-header`)
    = $component.child(`insights-builder`)
  .insights-main-panel.bottom-panel
    = $component.child(`insights-result`)

  .refresh-toast-stage
    mp-toast(
      attrs={
        cta: `Refresh`,
        hide: !newCachedData
      }
      on={
        action: $helpers.toastSelected,
        close: $helpers.toastClosed,
      }
    ) You have new data.

  = $component.child(`insights-reports`)
