- const learnStep = learnActive && util.getLearnStep(report, learnModalStepIndex);
- const learnClass = learnStep && learnStep.cls;

.irb-app(class={
  'error-no-project-data': !projectHasEvents,
  'irb-learn-active': !!learnActive,
  [learnClass]: !!learnClass,
})
  if learnActive
    = $component.child(`irb-learn`)
  .irb-main-panel.top-panel
    = $component.child(`irb-header`)
    = $component.child(`irb-builder`)
  .irb-main-panel.bottom-panel
    = $component.child(`irb-result`)

  .refresh-toast-stage
    mp-toast(
      attrs={
        cta: `Refresh`,
        hide: !newCachedData
      }
      on={
        action: $helpers.toastSelected,
        close: $helpers.toastClosed,
      }
    ) You have new data.

  = $component.child(`irb-reports`)
