- const open = $helpers.isPaneOpen()

.control-container
  .irb-new-control.new-query-builder(class={'pane-open': open})
    .control-buttons.add-filter-control
      if open
        input.control-label.builder-search-input(
          class={'search-active': open}
          hook={insert: $helpers.insertedInput}
          props={
            autoFocus: true,
            placeholder: 'Search',
            type: `text`,
            value: contextFilter,
          }
          on={
            click: $helpers.clickedInput,
            input: $helpers.changedSearch,
          }
          style={
            width: 0,
            delayed: {width: ''},
            remove: {width: '0'},
          }
        )
      button.add-filter-button(on={click: $helpers.clickedAdd})
        span.button-flex-wrapper
          svg-icon(attrs={icon: open ? 'x' : 'plus'})
          span.add-filter-label Filter
  .drop-menu
    mp-drop-menu(attrs={open})
      .new-pane-content(attrs={'slot-body': true})
        = $component.child(`builder-pane`, {attrs: {open}})
