@import "../../../stylesheets/common"

filter-add-control
  .irb-control button.modify
    padding 7px 8px

    span
      font-size 13px

filter-edit-control
  .irb-control button.modify
    font-size 13px

filter-property-pane-content, filter-property-value-pane-content .pane-content
  white-space nowrap

filter-property-pane-content .pane-content
  height 100%
  overflow hidden

  ul.resource-value
    width 328px
