.line-chart-container
  .chart-header-container= chartLabel
  .line-chart(
    on={click: $helpers.handleClickChart}
  )
    mp-line-chart(
      props={
        chartData: {
          anomalyAlerts,
          data,
          dataId,
          displayOptions,
          disableChartInteractions: !!focusedAnomaly,
          hasSingleSeriesTopLevel,
          headers,
          segmentColorMap,
        },
        utcOffset,
      }
      attrs={
        'seg-filters': JSON.stringify(segFilters),
      }
      on={
        clickedAnomaly: $helpers.handleClickedAnomaly
      }
    )
    if focusedAnomaly
      mp-smart-hub-tooltip(
        attrs={
          'placement': focusedAnomaly.placement,
          'offset-left': focusedAnomaly.offsetLeft,
          'offset-top': focusedAnomaly.offsetTop,
          'alert': JSON.stringify(focusedAnomaly.anomalyAlert),
        }
        on={
          click: $helpers.handleClickAnomalyAlert,
          removedAlert: $helpers.handleRemovedAnomalyAlert,
        }
      )
