.line-chart-container
  .chart-header-container= chartLabel
  .line-chart
    mp-line-chart(
      props={
        chartData: {
          data,
          dataId,
          displayOptions,
          headers,
          isSingleSeries,
          segmentColorMap,
        },
        utcOffset,
      }
      attrs={
        'seg-filters': JSON.stringify(segFilters),
      }
    )
