.line-chart-container
  .chart-header-container= chartLabel
  .line-chart
    mp-line-chart(
      props={chartData: data, utcOffset}
      attrs={
        'data-id':  JSON.stringify(dataId),
        'display-options': JSON.stringify(displayOptions),
        'seg-filters': JSON.stringify(segFilters),
      }
    )
