.toast(style={display: showToast ? 'block' : 'none'})
  .toast-section.toast-message= $helpers.getMessage()
  button.toast-section.toast-action(onclick=$helpers.eatToast)= $helpers.getSelectText()
  button.toast-section.toast-exit(onclick=$helpers.trashToast)
