@import "../../../../stylesheets/common"

.query-builder-show-header
  svg-icon-style(mp-blue, pos-top: 6px)

  .math-header-type
    color mp-blue
    cursor pointer
    font-weight 600

  svg-icon
    cursor pointer
