include ../../mixins.jade

.query-builder-show-header
  .header-label
    if $helpers.isStaticHeader()
      | Show Total
    else
      .header-word Show
      .active-math-header(onclick= $helpers.headerClicked)
        .header-word(onclick= $helpers.headerClicked)=$helpers.getCurrentMathChoice()
        svg-icon.math-caret(onclick= $helpers.headerClicked)(attributes={icon: 'caret-down'})
  .drop-menu
    mp-drop-menu(attributes={open: $helpers.isOpen()})
      .new-pane-content(attributes={'slot-body': true})= $component.child(`builder-pane`)
