.dropdown-view(class=[elementClass, state.open ? 'menu-open' : ''])
  button.label(ev-click=handlers.onLabelClick)= helpers.formatChoice(state.selected)
  ul
    for choice in state.choices
      li(class=choice === state.selected ? 'selected' : '')
        button(ev-click=() => handlers.onChoiceClick(choice))= helpers.formatChoice(choice)
