.irb-builder
  .query
    .section-container= $component.child('builder-show')
    .section-container= $component.child('builder-group')
    .section-container= $component.child('builder-time')
  .filters= $component.child('builder-filter')
