.irb-builder
  .query
    .section-container= $component.child('builder-show')
    .section-container= $component.child('builder-group')
    .section-container= $component.child('builder-time')
    button.reset(onclick=$helpers.reset) Reset
  .filters= $component.child('builder-filter')
