@import "../../stylesheets/common"

header-button-transition-duration = 150ms

.irb-builder
  font-size 16px
  font-weight 500
  padding 26px 30px 30px 30px
  position relative

  .query,
  .section-container,
  .builder-section,
  .clause-container,
  .clause-header,
  .clause-body
    display flex

  .query, .builder-section
    flex-wrap wrap

  .section-container, .clause-container
    flex-direction column
    justify-content flex-end

  .clause-container, .builder-container
    margin-bottom 18px
    margin-right 12px

  .clause-container
    position relative
    &:hover
      button.remove
        opacity 1

      button.reorder
        opacity 1
        // only transition on hover to avoid position jumping
        transition opacity header-button-transition-duration

      .clause-header.group
        max-width calc(100% - 15px)

        &.hasRightCaret
          max-width calc(100% - 25px)
          .reorder-right
            margin-left 5px
            margin-right -25px
            padding-right 4px

    button.remove
      background none
      border none
      color grey-300
      font-size 14px
      font-weight 600
      opacity 0
      padding 0
      position absolute
      right -5px
      top 0
      transition opacity header-button-transition-duration
      svg-icon-style(grey-700, grey-500, size: 18px)

      &.group
        top 3px

      &.outside
        right -15px

      &:hover
        color grey-700

  .clause-body > div
    margin-right 10px

    &:last-child
     margin-right 0px

  .clause-header
    align-items flex-end
    color grey-700
    font-size 11px
    font-weight 900
    height 18px
    line-height 12px
    margin-bottom 4px
    text-transform uppercase

    .header-label
      ellipsis()

    button.reorder
      background none
      border none
      opacity 0
      padding 0
      svg-icon-style(grey-700, grey-500, pos-top: 3px)

      &.reorder-left
        margin-left -16px // reorder button width
      &.reorder-right
        margin-left -16px

  .clause-language
    color grey-300
    line-height 36px

  .contextual-menu
    .add-control
      display flex

      input.control-label
        border none
        border-bottom 1px dotted mp-blue
        border-radius 0
        order 1
        padding 0
        transition width input-animation-time, transform input-animation-time
        width 0px

        .label-preposition
          color grey-300
          visibility hidden

      button.add-button
        background-color white
        border 1px solid grey-150
        border-radius 50%
        box-shadow 0 1px 1px 0 rgba(76, 96, 113, 0.08)
        height 28px
        margin-left 2px
        order 2
        padding 2px 0 0 0
        width 28px
        svg-icon-style(grey-700, size: 16px)

        &:hover
          box-shadow 0 1px 3px rgba(76,96,113,0.16)
          svg-icon-style(mp-blue, size: 16px)

    .pane-open
      input.control-label
        text-align left
        transition width input-animation-time, transform input-animation-time
        width 200px

        .label-preposition
          visibility visible

        button.add-button
          svg-icon svg
            transform rotate(45deg)

  .section.disabled
    opacity 0.3
    pointer-events none

  .reset-query
    cursor pointer
    position absolute
    right 20px
    top 20px
    svg-icon-style(grey-700, grey-500)

  .drop-menu
    position relative
    top 6px

  .error-no-project-data .irb-builder
    .builder-error-caption
      color grey-700
      font-size 14px
      text-align center
      padding 5px 0

    .error-title
      color grey-900
      font-size 16px
      font-weight 900

    .error-builder-button
      display flex
      justify-content center
      margin 20px 0

  /* Builder Jade Mixins */

  option-height = 30px

  // property-list
  .screen-list-container
    overflow auto

    ul.screen-options-list
      overflow visible

    .builder-label
      margin 20px 18px 0

    .builder-divider
      border-top 1px solid grey-150
      margin 0 10px

  ul.screen-options-list
    margin 0 10px
    flex 1 1 auto
    overflow auto
    .matches-search
      color mp-blue

    &:last-of-type
      border-bottom none

    & + ul.screen-options-list
      border-top 1px solid grey-150
      margin-top 2px
      padding-top 2px

  .builder-pane .screen-options-list li.list-option, li.list-option
    color grey-700
    align-items center
    border-radius 3px
    cursor pointer
    display flex
    font-size 12px
    font-weight 500
    height option-height
    justify-content flex-end
    line-height 12px

    &:first-child
      margin-top 10px

    &:last-child
      margin-bottom 10px

    &:hover
      background-color grey-100
      color mp-blue

      .option-icon
        svg-icon-style(mp-blue, pos-top: 1px)

      .option-secondary-action
        display flex

    &.list-empty
      font 500 12px font-helvetica-neue
      justify-content center
      pointer-events none

    .option-icon
        svg-icon-style(pos-top: 1px)

  // resource-type-control
  .resource-type-control
    border-bottom 1px solid grey-150
    padding 10px 15px
    mp-toggle
      width 100%

  // screen-footer-button
  button.screen-footer
    background none
    border none
    border-top 1px solid grey-150
    color grey-500
    font-size 12px
    font-weight 500
    line-height 100%
    min-height 48px
    padding 0

  // screen-option
  .option-icon
    padding-left 5px
    svg-icon-style(grey-700)

  .option-label
    padding-left 8px
    ellipsis()
    flex 1 1
    .highlight-match
      color mp-blue

  li.list-option.list-option-selected
    .option-icon
      svg-icon-style(grey-900)
    .option-label
      color grey-900
      cursor default
      font-weight 900

  // screen-title
  .screen-title
    align-items center
    box-shadow 0 1px 3px 0 rgba(156,172,187,0.37), 0 1px 0 0 #E5EAEF;
    color grey-700
    display flex
    flex none
    font-size 11px
    font-weight 900
    height 48px
    position relative


    .title-button
      cursor pointer
      padding 10px
      position absolute
      svg-icon-style(grey-500, grey-700)

      &.close-button
        right 0

    .title-label
      ellipsis()
      padding 0 30px
      text-align center
      text-transform uppercase
      width 100%

  // secondary-action-pill
  .option-secondary-action
    align-items center
    display none
    flex none
    padding 0 5px 0 10px
    margin-right 10px

    &.pill
      background-color #fff
      border-radius 40px
      color grey-500
      font-size 11px
      font-weight 900
      height 18px
      line-height 12px

      .secondary-label
        vertical-align middle

      .caret-icon
        svg-icon-style(grey-500, speed: 0s, pos-top: 1px)

      .small-caret
        right -2px
        top 0px

      &:hover
        background-color mp-blue
        color #fff
        svg-icon-style(#fff, speed: 0s, pos-top: 1px)

  // small-caret-icon
  .small-caret
    height 18px
    position relative
    right 4px
    top 1px
    svg-icon-style(size: 16px)

  // pane-loader
  .loading-properties
    align-items center
    display flex
    height 80px
    justify-content center

    mp-spinner
      width 30px
      height 30px
