include ../mixins.jade

.builder-screen.sources
  ul.screen-options-list.arrow-key-scrollable(
    class=util.learnClasses({disabledExceptChildren: [`first`]})
    hook={postpatch: $helpers.updateRenderedSize}
    on={scroll: $helpers.scrolledList}
  )
    if contextFilter
      +filtered-options-lists($helpers.getFilteredLists())
    else
      each source in $helpers.getSources()
        +generic-options-list-item(source.name, {
          class: `source-menu-option`,
          index: source.index,
          isActive: source.index === builderPane.activeIndex,
          onclick: () => $helpers.clickedSource(source),
        })
