include ../mixins.jade

- const activeIdx = builderPane.activeIndex

.builder-screen.sources(
  hook={postpatch: $helpers.updateRenderedSize}
  style={width: (contextFilter ? `320px` : `260px`)}
)
  if contextFilter
    mp-items-menu(
      attrs={
        'search-filter': contextFilter,
        'sections': JSON.stringify($helpers.getSections()),
      }
      on={
        clickItem: $helpers.clickedItem,
        draw: $helpers.updateRenderedSize,
      }
    )
  else
    ul.screen-options-list.arrow-key-scrollable(
      class=util.learnClasses({
        disabledSteps: [`compare-event`, `group-by`],
        disabledExceptChildren: [`last`, `first`],
      })
    )
      each option, idx in $helpers.getContextOptions()
        +generic-options-list-item(option.name, {
          class: `contextual-menu-option`,
          index: idx,
          isActive: idx === activeIdx,
          onclick: () => $helpers.clickedOption(option),
        })
