include ../mixins.jade

.builder-screen.sources(style={width: (contextFilter ? `320px` : `260px`)})
  if contextFilter
    mp-items-menu(
      attrs={
        'search-filter': contextFilter,
        'sections': JSON.stringify($helpers.getSections()),
      }
      on={
        draw: $helpers.updateRenderedSizeOnNextFrame,
        clickItem: $helpers.clickedItem,
        clickPropertiesPill: $helpers.clickedEventProperties,
      }
    )
  else
    ul.screen-options-list.arrow-key-scrollable(
      class=util.learnClasses({disabledExceptChildren: [`first`]})
      hook={postpatch: $helpers.updateRenderedSize}
    )
      each source in $helpers.getSources()
        +generic-options-list-item(source.name, {
          class: `source-menu-option`,
          index: source.index,
          isActive: source.index === builderPane.activeIndex,
          shouldShowSourceUpsell: $helpers.shouldShowSourceUpsell(source),
          shouldShowSourceAlert: $helpers.shouldShowSourceAlert(source),
          onclick: () => $helpers.clickedSource(source),
        })
