include ../mixins.jade

- const activeIdx = builderPane.activeIndex

.builder-screen.sources
  ul.screen-options-list(
    class=util.learnClasses({
      disabledSteps: [`compare-event`, `group-by`],
      disabledExceptChildren: [`last`, `first`],
    })
    hook={postpatch: $helpers.updateRenderedSize}
    on={scroll: $helpers.scrolledList}
  )
    if contextFilter
      +filtered-options-lists($helpers.getContextLists())
    else
      each option, idx in $helpers.getContextOptions()
        +generic-options-list-item(option.name, {
          class: `contextual-menu-option`,
          isActive: idx === activeIdx,
          onclick: () => $helpers.clickedOption(option),
        })
