include ../mixins.jade

.builder-screen.sources(style={width: `320px`})
  +screen-title(`Mixpanel Dataset`, {
    backButton: !!$helpers.screenIdx(),
    theme: 'lite',
  })
  if contextFilter
    mp-items-menu(
      attrs={
        progressive: true,
        'search-filter': contextFilter,
        'sections': JSON.stringify($helpers.getSections()),
      }
      on={
        draw: $helpers.updateRenderedSizeOnNextFrame,
        clickItem: $helpers.clickedItem,
        clickPropertiesPill: $helpers.clickedEventProperties,
      }
    )
  else
    .resource-type-control
      mp-toggle.sources-toggle(
        attrs={
          selected: $helpers.getSelectedResourceType(),
          theme: 'lite',
        }
        on={
          select: $helpers.clickedSource,
        }
      )
        each source in $helpers.getSources()
          mp-toggle-option(attrs={value: source.resourceType})= source.name

    = $component.child(`builder-screen-${$helpers.getSelectedResourceType()}`, $helpers.getResourceScreenAttrs())
