include ../mixins.jade

.builder-screen.sources
  if contextFilter
    mp-items-menu(
      attrs={
        progressive: true,
        'search-filter': contextFilter,
        'sections': JSON.stringify($helpers.getSections()),
      }
      on={
        draw: $helpers.updateRenderedSizeOnNextFrame,
        clickItem: $helpers.clickedItem,
        clickPropertiesPill: $helpers.clickedEventProperties,
        focusItem: $helpers.handleItemFocus,
      }
    )
    mp-event-definition-tooltip(
      attrs={
        'event-definition': JSON.stringify(eventDefinition),
        'lexicon-url': $helpers.getLexiconUrl(),
        open: !!eventDefinition,
      }
    )
  else
    +screen-title(`Select Source`, {
      backButton: !!$helpers.screenIdx(),
      theme: `lite`,
    })
    .resource-type-control
      mp-toggle.sources-toggle(
        attrs={
          selected: $helpers.getSelectedSource(),
          theme: `lite`,
        }
        on={
          select: $helpers.clickedSource,
        }
      )
        each source in $helpers.getSources()
          // TODO @evnp - remove profileType below once we have multiple people tables on backend
          mp-toggle-option(attrs={
            value: source.profileType || source.resourceType,
            disabled: learnActive && source.resourceType !== `events`,
          })= source.name
      each source in $helpers.getSources()
        - const resourceType = source.resourceType;
        - const upsellType = $helpers.shouldShowSourceUpsell(resourceType) ? `upsell` : `alert`;
        .svg-icon-wrapper.sources(
          class={
            [resourceType]: true,
            [upsellType]: true,
          }
        )
          if $helpers.shouldShowSourceUpsell(resourceType)
            svg-icon(attrs={ icon: 'lighting-bolt' })
          if $helpers.shouldShowSourceAlert(resourceType)
            svg-icon(attrs={ icon: 'alert' })

    - const subScreenName = $helpers.getSelectedResourceType() === `events` ? `builder-screen-events` : `builder-screen-people`;
    = $component.child(subScreenName, {attrs: {'is-embedded': true}})
