@import "../stylesheets/common"

.irb-app
  border-radius 5px
  margin-bottom 0

.irb-main-panel
  background-color #fff
  border-radius 5px
  box-shadow 0px 1px 1.8px 0.2px rgba(69, 81, 113, 0.15)
  margin irb-panel-margin

.button-flex-wrapper
  align-items center
  display flex


// styles for mixins.jade

$checkbox-label-line-height = 18px

.checkbox-item
  align-items flex-start
  cursor pointer
  display flex
  padding 6px 0
  width 100%

  .checkbox-select-icon
    background-color #fff
    border 1px solid border-gray
    border-radius 3px
    box-sizing border-box
    flex 0 0 $checkbox-label-line-height
    height $checkbox-label-line-height
    margin-right 11px
    position relative
    svg-icon-style(grey-900, pos-left: -3px, pos-top: -3px)
    svg-icon
      position absolute
    &.color
      svg-icon-style(#fff, pos-left: -2px, pos-top: -2px)
    &.checkbox-dash
      svg-icon-style(grey-900, pos-left: -3px, pos-top: -3px)

  .checkbox-label
    color grey-700
    font 500 12px font-helvetica-neue
    line-height $checkbox-label-line-height
    text-align left


.irb-tabs
  display flex

  .irb-tab
    background grey-100
    border 1px solid grey-200
    color grey-700
    flex 1 1
    font-size 11px
    font-weight 600
    padding 8px
    text-transform capitalize

    &:first-child
      border-radius 5px 0 0 5px

    &:last-child
      border-radius 0 5px 5px 0

    &:not(:last-child)
      border-right none

    &:hover:not(.selected)
      background-color blue-700
      border-color blue-700
      color white

      & + .irb-tab
        border-left-color blue-700

    &.irb-tab-selected
      background white
