.irb-app(class={'error-no-project-data': !projectHasEvents})
  .irb-main-panel
    = $component.child('irb-header')
    = $component.child('irb-builder')
  .irb-main-panel
    = $component.child('irb-result')
