- const learnStep = learn && learn.step({learn, report});
- const learnClass = learnStep && learnStep.cls;

.irb-app(class={
  'error-no-project-data': !projectHasEvents,
  'irb-learn-active': !!learn,
  [learnClass]: !!learnClass,
})
  if learn
    = $component.child('irb-learn')
  .irb-main-panel.top-panel
    = $component.child('irb-header')
    = $component.child(`${features.queryBuilderVersion}-irb-builder`)
  .irb-main-panel.bottom-panel
    = $component.child('irb-result')
