@import "../stylesheets/common"

.irb-app
  border-radius 5px
  margin-bottom 0

.irb-main-panel
  background-color #fff
  border-radius 5px
  box-shadow 0px 1px 1.8px 0.2px rgba(69, 81, 113, 0.15)
  margin 20px

.irb-tabs
  display flex

  .irb-tab
    background grey-100
    border 1px solid grey-200
    color grey-700
    flex 1 1
    font-size 11px
    font-weight 600
    padding 8px
    text-transform capitalize

    &:first-child
      border-radius 5px 0 0 5px

    &:last-child
      border-radius 0 5px 5px 0

    &:not(:last-child)
      border-right none

    &:hover:not(.selected)
      background-color blue-700
      border-color blue-700
      color white

      & + .irb-tab
        border-left-color blue-700

    &.irb-tab-selected
      background white
