mixin checkbox-item(label, value, selected, toggleFunc)
  li.checkbox-item(on={click: () => toggleFunc(value)})
    .checkbox-select-icon
      svg-icon(attrs={icon: 'check-checkbox', empty: !selected})
    .checkbox-label= label

mixin checkbox-select-all(allSelected, toggleFunc)
  li.checkbox-item.checkbox-select-all(on={click: toggleFunc})
    .checkbox-select-icon(class={'checkbox-dash': !allSelected})
      svg-icon(attrs={icon: allSelected ? 'check-checkbox' : 'dash'})
    .checkbox-label Select all

mixin highlight-matches(matches)
  each substr, si in matches
    span.substr(class={'matches-search': !(si % 2)})= substr

mixin tabs(list, options)
  .irb-tabs
    each item in list
      - const value = item.value || item;
      - const label = item.label || item;
      button.irb-tab(
        class={'irb-tab-selected': options.selected === value}
        on={click: ev => options.onclick(value, ev)}
      )= label
