mixin highlight-matches(matches)
  each substr, si in matches
    span.substr(class={'matches-search': !(si % 2)})= substr

mixin toggle(list, options)
  .irb-toggle
    each item in list
      - const value = item.value || item;
      - const label = item.label || item;
      button(
        class=options.selected === value ? 'irb-toggle-selected' : '',
        onclick=ev => options.onclick(value, ev)
      )= label
