include ../mixins.jade

.builder-screen.math
  ul.screen-options-list
    each math in $helpers.getMathTypes()
      li.list-option(on={click: () => $helpers.mathTypeClicked({math})})
        +screen-option(math, {noIcon: true})
