.section.builder-show.old-query-builder
  if !report.sections.show.clauses.length
    .clause.comparison
      h3
      .control-container= $component.child('show-add-control')
  else
    each clause, clauseIndex in report.sections.show.clauses
      if clauseIndex
        .preposition and
      .clause.comparison
        .clause-header
          h3= 'Show' + (report.sections.show.clauses.length === 1 ? '' : ' ' + (clauseIndex + 1))
        .control-container= $component.child('show-edit-control', {attrs: {'clause-index': clauseIndex}})
        if clauseIndex === report.sections.show.clauses.length - 1
          .control-container= $component.child('show-add-control')
