- const open = $helpers.isPaneOpen()

.control-container
  .irb-new-control.new-query-builder(class={'pane-open': open})
    .control-buttons.edit-control
      if $helpers.isPaneOpen()
        input.control-label(
          props={
            autoFocus: true,
            type: `text`,
            value: contextFilter,
          }
          on={
            click: $helpers.clickedInput,
            input: $helpers.searchHandler,
          }
        )
      else
        - const label = $helpers.getLabel()
        button.control-label(on={click: $helpers.clickedLabel})
          if typeof label === 'string'
            = label
          else
            each labelPart in label
              span.edit-label-part= labelPart
        if $helpers.isRemovable()
          button.remove(on={click: $helpers.removeClause})
    .drop-menu
      mp-drop-menu(attrs={open} on={change: $helpers.menuChange})
        .new-pane-content(attrs={'slot-body': true})= $component.child(`builder-pane`)
