@import "../../../stylesheets/common"

.irb-new-control.new-query-builder
  position relative

  .control-buttons
    align-items center
    cursor pointer
    display flex
    height 36px
    &.add-filter-control
      margin-left 5px

    &.edit-control
      button
        background transparent
        border-width 0
        font-weight 500
        opacity 0
        padding 0
        position absolute
        right 0
        svg-icon-style(grey-700, grey-500, pos-top: -8px, pos-left: 10px, size: 16px)

      &:hover
        button
          opacity 1

    .control-label, resize-input.control-label input
      border-bottom 1px dotted mp-blue
      border-radius 0
      color mp-blue
      font-family font-helvetica-neue
      font-size 16px
      font-weight 500
      line-height 30px
      padding-left 0
      padding-right 0

      &:hover
        border-bottom-style solid

    resize-input.control-label input
      border none
      border-bottom 1px dotted mp-blue
      border-radius 0
      align-items center
      display flex

    .control-label
      align-items center
      box-sizing border-box
      display flex
      height 100%
      .control-label-text
        white-space nowrap

    &:hover
      color blue-300

  &.pane-open
    .control-label, resize-input.control-label input
      border-bottom-style solid

    .add-control
      .control-label
        text-align left
        transition width input-animation-time, transform input-animation-time
        width 200px

        .label-preposition
          visibility visible


    button.add-button
      svg-icon svg
        transform rotate(45deg)

show-edit-control .irb-control
  min-width 60px

group-edit-control .irb-control
  min-width 65px
