- const open = $helpers.isPaneOpen()

.control-container
  .irb-new-control.new-query-builder(class={'pane-open': open})
    .control-buttons.edit-control
      button.control-label(onclick=$helpers.clickedLabel)= $helpers.getLabel()
      if $helpers.isRemovable()
        button.remove(onclick=$helpers.removeClause)
    .drop-menu
      mp-drop-menu(attributes={open})
        .new-pane-content(attributes={'slot-body': true})= $component.child(`builder-pane`)
