include ./mixins.jade

- const selectedValue = $helpers.getActiveClauseProperty('value');
- const selectedValueName = selectedValue && selectedValue.name;

.event-pane-content
  ul.column.resource-value
    each value in $component.eventChoices
      - const valueName = util.renameEvent(value.name)
      - const matches = $helpers.searchMatches(valueName)
      if !!matches
        li(
          attrs={title: valueName}
          class={selected: value.name === selectedValueName, custom: !!value.custom}
          on={click: () => $helpers.updateStageClause({value}, true)}
        )
          - const attrs = !!value.custom ? {icon: 'custom-events'} : {empty: true}
          svg-icon(attrs=attrs)
          +highlight-matches(matches)
