include ./mixins.jade

- const selectedValue = $helpers.getActiveClauseProperty('value');
- const selectedValueName = selectedValue && selectedValue.name;

.event-pane-content
  ul.column.resource-value
    for value in $component.eventChoices
      - const valueName = util.renameEvent(value.name)
      - const matches = $helpers.searchMatches(valueName)
      if !!matches
        li(
          class={selected: value.name === selectedValueName, custom: !!value.custom}
          onclick=() => $helpers.updateStageClause({value}, true)
          title=valueName
        )
          - const attrs = !!value.custom ? {icon: 'custom-events'} : {empty: true}
          svg-icon(attributes=attrs)
          +highlight-matches(matches)
