include ./mixins.jade

.property.pane-content
  ul.column.toggle.resource-type
    each resourceType in $component.resourceTypeChoices
      li(
        class={selected: resourceType === resourceTypeFilter}
        on={click: () => $helpers.updateResourceTypeFilter(resourceType)}
      )= util.capitalize(resourceType)
  ul.column.resource-value
    each property in $helpers.topProperties()
      +property-entry(property, $helpers.isSelectedProperty(property))
