include ../../mixins.jade

mixin property-entry(property, selected)
  - const propName = util.renameProperty(property.name)
  - const matches = $helpers.searchMatches(propName)
  if !!matches
    li.property(
      class={
        [`type-${property.type}`]: true,
        [property.resourceType]: true,
        selected,
      }
      on={
        click: () => $helpers.selectProperty(property),
      }
    )
      - const icon = $helpers.resourceIcon(property.resourceType)
      - const attrs = !!icon ? {icon} : {empty: true}
      svg-icon(attrs=attrs)
      +highlight-matches(matches)
      button.next-arrow(on={click: ev => $helpers.onPropertyArrowClick(ev, property)}) ›
