include ../mixins.jade

- const selected = $component.getAttribute(`selected`)

.builder-screen.time
  ul.screen-options-list(hook={postpatch: $helpers.updateRenderedSize})
    - const ranges = $helpers.availableRanges()
    if ranges.length
      each range in ranges
        - const isSelected = range.name === selected
        - const isActive = range.name === builderPane.activeListItem.name
        - const isCustom = range.name === $helpers.RANGES.CUSTOM
        - const showUpsellIcon = range.upsell
        li.list-option(
          class={
            'list-option-active': isActive,
            'list-option-selected': isSelected,
            'list-option-time-custom': isCustom,
            'list-option-upsell': showUpsellIcon
          }
          on={
            click: !isSelected || isCustom ? () => $helpers.clickedRange(range) : null,
          }
        )
          +screen-option(range.name, {noIcon: true, matches: range.matches})
          if isCustom
            +small-caret-icon()
          if showUpsellIcon
            .upsell-icon
              svg-icon(attrs={icon: 'lighting-bolt'})
    else
      li.list-option.list-empty Your search returned no results
