.builder-section.builder-time.insights-learn-disabled(class={
  'align-custom-pane-right': $helpers.alignCustomPaneRight(),
})
  if report.sections.time.clauses.length
    .clause-container
      .clause-language.preposition
        if $helpers.isPresetRange()
          | in the
        else
          | from
    .clause-container
      .clause-header
        .header-label Time
      .clause-body
        .control-container= $component.child(`builder-time-edit-control`, {attrs: {'clause-index': 0}})
    if $helpers.showUpsellModal()
      .upsell-wrapper
        mp-upsell-popup(
          attrs={
            feature: `date-range`,
            name: `timeClause`,
            open: $helpers.showUpsellModal(),
          }
          on={change: $helpers.closeUpsellModal}
        )
