include ../builder-pane/mixins.jade

- const properties = $helpers.getProperties();
- const selectedResourceType = $component.resourceType;
- const formatResourceType = type => type === `events` ? `event` : type;

.builder-screen.properties
  +screen-title(`Filter by a property`, {backButton: $helpers.screenIdx() > 1})
  //- .resource-type-control
  //-   .resource-type-tabs
  //-     for resourceType in $helpers.RESOURCE_TYPES
  //-       button.tab(
  //-         class=selectedResourceType === resourceType ? 'selected' : '',
  //-         onclick=() => $helpers.selectResourceType(resourceType)
  //-       )= formatResourceType(resourceType)
  //-   .resource-type-label= `${formatResourceType(selectedResourceType)} properties`
  +property-list(properties, {
    caret: true,
    clickedProperty: $helpers.clickedProperty,
    loading: $component.isLoading(),
    scrolledList: $helpers.scrolledList,
  })
