include ../mixins.jade

- const clause = $helpers.getActiveClause()

.builder-screen.filter-property
  +screen-title('', {backButton: true})
    button.filter-type-dropdown
      - const icon = util.getIconForPropertyType(clause.filterType)
      svg-icon(attrs={icon, empty: !icon})
      span.filter-prop-name= util.renameProperty(clause.value)
      svg-icon(attrs={icon: 'caret-down'})
      //- TODO throw a drop menu in here

  p Some content
  //- TODO here goes different content depending on filterType

  +screen-footer-button('Add filter')
