include ../mixins.jade

.builder-screen.properties
  +screen-title(`Filter by a property`, {backButton: $helpers.screenIdx() > 1})
  +property-screen-body({
    resourceTypes: $helpers.RESOURCE_TYPES,
    selectedResourceType: $helpers.getSelectedResourceType(),
    clickedResourceType: $helpers.clickedResourceType,
    properties: $helpers.getProperties(),
    recentProperties: $helpers.getRecentProperties(),
    clickedProperty: $helpers.clickedProperty,
    scrolledList: $helpers.scrolledList,
    loading: $helpers.isLoading(),
  })
