- const open = $helpers.isPaneOpen()

.add-filter
  .add-filter-controls
    input.builder-search-input(
      class={'search-active': open}
      attributes={placeholder: 'Search'}
    )
    button.add-filter-button(onclick=$helpers.clickedAdd)
      svg-icon(attributes={icon: open ? 'x' : 'plus'})
      span.add-filter-label Filter
  .drop-menu
    mp-drop-menu(attributes={open})
      .new-pane-content(attributes={'slot-body': true})= $component.child(`builder-pane`)
