include ../mixins.jade

.builder-screen.properties
  +screen-title(`Filter by a property`, {backButton: $helpers.screenIdx() > 1})
  +resource-type-toggle()
  +property-list($helpers.getProperties(), {
    caret: true,
    clickedProperty: $helpers.clickedProperty,
    loading: $component.isLoading(),
    scrolledList: $helpers.scrolledList,
  })
