include ../../mixins.jade
include ../mixins.jade

mixin filter-dropdown(name, title, icon)
  div(class={[`filter-${name}-dropdown`]: true})
    button.filter-menu-button(on={click: () => $helpers.toggleMenu(name)})
      span.button-flex-wrapper
        svg-icon(attrs={icon, empty: !icon})
        span.filter-prop-name= title
        svg-icon(attrs={icon: 'caret-down'})
    .filter-menu
      mp-drop-menu(attrs={open: $helpers.isMenuOpen(name)})
        block

- const clause = $helpers.getActiveClause()

.builder-screen.filter-property
  +screen-title('', {backButton: true})
    +filter-dropdown('type', util.renameProperty(clause.value), util.getIconForPropertyType(clause.filterType))
      ol.filter-types
        each filterType in $helpers.FILTER_TYPES
          li.filter-menu-item(
            class={'filter-menu-item-selected': filterType.name === clause.filterType}
            on={click: () => $helpers.chooseFilterType(filterType.name)}
          )
            svg-icon(attrs={icon: filterType.icon})
            = filterType.name

  .filter-chooser
    +filter-dropdown('operator', clause.filterOperator)
      ol.filter-operators
        each filterOperator in $helpers.filterOperators(clause.filterType)
          li.filter-menu-item(
            class={'filter-menu-item-selected': filterOperator === clause.filterOperator}
            on={click: () => $helpers.chooseFilterOperator(filterOperator)}
          )
            = filterOperator

    case clause.filterType

      when 'string'
        case clause.filterOperator
          when 'equals'
          when 'does not equal'
            //- TODO search goes here
            ol.filter-string-equals-choices
              +checkbox-select-all(
                $helpers.allEqualsValuesSelected(),
                $helpers.toggleAllFilterValues
              )
              each value in $helpers.getEqualsMatches()
                +checkbox-item(
                  util.renamePropertyValue(value),
                  value,
                  clause.filterValue && clause.filterValue.indexOf(value) !== -1,
                  $helpers.toggleStringEqualsValueSelected
                )

      default
        p this is #{clause.filterType}

  +screen-footer-button('Add filter', {onclick: $helpers.commitFilter})
