@import '../../../stylesheets/common'

builder-filter-edit-control
  .control-container .irb-new-control.new-query-builder
    .edit-control button.control-label
      border-bottom none
      color grey-700
