@import "../../../stylesheets/common"

// TODO extract
.builder-search-input
  border none
  font-size 13px
  width 0
  transition width 0.25s
  &.search-active
    border-bottom 1px dotted grey-500
    margin-right 10px
    width 200px
    &:hover
      border-bottom 1px solid mp-blue

builder-filter-add-control
  .add-filter
    display inline-block

    .add-filter-controls
      display flex
      .add-filter-button
        align-items center
        background none
        border 2px solid grey-150
        border-radius 5px
        color grey-900
        display flex
        font-size 13px
        padding 7px 8px
        svg-icon-style(grey-700, blue-300)

builder-filter-edit-control
  .irb-control button.modify
    font-size 13px

builder-screen-filter-properties-list
  .builder-screen.properties .list-option
    .caret-icon
      opacity 0
      svg-icon-style(mp-blue)
    &:hover
      .caret-icon
        opacity 1

$type-menu-width = 150px

builder-screen-filter-property
  .builder-screen.filter-property
    .screen-title
      justify-content center

      .back-button
        left 0

      .filter-type-dropdown
        button.filter-menu-button
          align-items center
          background none
          border none
          color grey-900
          display flex
          font-size 14px
          position relative
          text-transform uppercase
          transition color 0.2s
          svg-icon-style(grey-900, mp-blue)
          &:hover
            color mp-blue

          .filter-prop-name
            margin-left 5px

        .filter-type-menu
          bottom 0
          left 50%
          position absolute
          text-align left
          text-transform none
          transform translateX(-50%)
          width $type-menu-width

          ol.filter-types
            padding 10px
            width $type-menu-width
            li
              align-items center
              cursor pointer
              display flex
              font-size 14px
              font-weight normal
              padding 5px 10px
              text-transform capitalize
              transition color 0.2s
              svg-icon-style(grey-900, mp-blue)
              svg-icon
                margin-right 10px
              &.filter-type-selected
                color #000
              &:hover
                background-color grey-50
                color mp-blue

    .filter-chooser
      height 150px
      padding 10px 15px

    button.screen-footer
      background-color mp-blue
      border-radius 0 0 5px 5px
      color white
