@import "../../../stylesheets/common"

control-font()
  color grey-700
  font-size 11px
  font-weight bold
  font-style normal
  font-stretch normal
  line-height normal
  letter-spacing normal
  text-align left
  text-transform uppercase

query-builder-filter
  .builder-section.builder-filter
    display flex

  .clause.filter
    display inline-flex

  .clause-language
    display inline-flex
    margin-right 8px

builder-filter-add-control
  .irb-new-control.new-query-builder .add-filter-control
    display flex

    // TODO extract/consolidate search input styles
    .builder-search-input
      border none
      font-size 13px
      padding 0
      width 0
      transition width 0.25s
      &.search-active
        border-bottom 1px solid mp-blue
        margin-right 10px
        width 200px
        &:hover
          border-bottom 1px solid mp-blue

    .add-filter-button
      background none
      border 2px solid grey-150
      border-radius 5px
      color grey-900
      font-size 13px
      padding 0
    .button-flex-wrapper
      align-items center
      display flex
      padding 5px 10px 5px 4px
      svg-icon-style(grey-700, blue-300)

builder-filter-edit-control
  .irb-control button.modify
    font-size 13px

builder-screen-filter-properties-list
  .builder-screen.properties .list-option
    .caret-icon
      opacity 0
      svg-icon-style(mp-blue)
    &:hover
      .caret-icon
        opacity 1

$type-menu-width = 150px

builder-screen-filter-property
  .builder-screen.filter-property
    max-height 550px

    li.filter-menu-item
      cursor pointer
      font-weight normal
      padding 5px 10px
      &.filter-menu-item-selected
        color #000
      &:hover
        background-color grey-50
        color mp-blue

    button.filter-menu-button
      background none
      border none
      position relative
      transition color 0.2s
      control-font()
      svg-icon-style(grey-700, mp-blue)

      .button-flex-wrapper
        align-items center
        display flex

      &:hover
        color mp-blue

      .filter-prop-name
        margin-left 5px

    .filter-menu
      bottom 0
      left 50%
      position absolute
      text-align left
      text-transform none
      transform translateX(-50%)
      width $type-menu-width
      z-index 10

    .filter-operator-dropdown
      position relative

      .filter-menu-button
        border 1px solid grey-500
        border-radius 3px
        width 100%
        .filter-prop-name
          margin-right auto
        svg-icon[empty]
          display none

      .filter-menu
        width 100%
        .filter-operators
          padding 10px
          text-transform uppercase
          width 270px
          li
            font-size 12px

    .screen-title
      justify-content center

      .back-button
        left 0
        top 0

      .filter-type-dropdown
        .filter-types
          padding 10px
          width $type-menu-width
          li
            align-items center
            display flex
            font-size 14px
            text-transform capitalize
            transition color 0.2s
            svg-icon-style(grey-700, mp-blue)
            svg-icon
              margin-right 10px

    .filter-chooser
      display flex
      flex-direction column
      height 420px

      .filter-operator-dropdown
        margin 10px 15px

        &:not(:last-child)
          border-bottom 1px solid grey-150
          padding-bottom 11px

      .screen-list-container
        padding 0 15px

      .filter-radio-list
        align-items center
        display flex
        margin 23px 10px
        &.filter-boolean
          margin 23px 70px
        &.filter-list
          border-bottom 1px solid grey-150
          padding-bottom 23px
        .radio-button
          flex-grow 1
          justify-content center

      .filter-string-input-wrapper
        box-sizing border-box
        padding 0 15px
        width 100%
        .filter-string-input
          width 100%
        &.filter-string-search
          margin-bottom 12px
          margin-top 2px
          position relative
          svg-icon-style(grey-500)
          svg-icon
            left 23px
            position absolute
            top 7px
          input
            padding-left 37px

      .filter-numdate
        box-sizing border-box
        display flex
        padding 0 15px
        width 100%
        &.filter-numdate-between
          align-items center
          justify-content space-between

        .filter-numdate-input
          width 112px

      span.filter-conjunction
        align-items center
        background-color grey-100
        border-radius 3px
        display inline-flex
        height 36px
        justify-content center
        width 46px
        control-font()

    button.screen-footer
      background-color mp-blue
      border-radius 0 0 5px 5px
      color white

.radio-button
  align-items center
  display flex
  control-font()
  &::before
    content ''
    border 1px solid grey-200
    border-radius 10px
    display inline-block
    height 15px
    margin-right 8px
    width 15px
  &.radio-selected::before
    border 6px solid mp-blue
    height 5px
    width 5px
