- const open = $helpers.isPaneOpen()

.builder-container
  .irb-new-control.new-query-builder(class={'pane-open': open})
    .control-buttons.add-control.contextual-menu
      button.add-button(onclick=$helpers.clickedAdd)
        svg-icon(attributes={icon: 'plus-large'})
      button.control-label
        span.label-preposition= $helpers.getPreposition()
    .drop-menu
      mp-drop-menu(attributes={open})
        .new-pane-content(attributes={'slot-body': true})= $component.child(`builder-pane`)
