- const open = $helpers.isPaneOpen()

.builder-container.contextual-menu
  .irb-new-control.new-query-builder(class={'pane-open': open})
    .control-buttons.add-control
      button.add-button(on={click: $helpers.clickedAdd})
        svg-icon(attrs={icon: 'plus-large'})
      input.control-label(
        props={
          autoFocus: true,
          type: `text`,
          value: contextFilter,
        }
        on={
          click: $helpers.clickedInput,
          input: $helpers.searchHandler,
        }
      )
        span.label-preposition= $helpers.getPreposition()
    .drop-menu
      mp-drop-menu(attrs={open} on={change: $helpers.menuChange})
        .new-pane-content(attrs={'slot-body': true})= $component.child(`builder-pane`)
