- const open = $helpers.isPaneOpen()

.builder-container.contextual-menu
  .irb-new-control.new-query-builder(class={'pane-open': open})
    .control-buttons.add-control
      button.add-button(on={click: $helpers.clickedAdd})
        svg-icon(attrs={icon: 'plus-large'})
      if open
        input.control-label(
          hook={
            insert: $helpers.insertedInput,
          }
          on={
            click: $helpers.clickedInput,
            input: $helpers.changedSearch,
          }
          props={
            autoFocus: true,
            type: `text`,
            value: contextFilter,
          }
        )
          span.label-preposition= $helpers.getPreposition()
    .drop-menu
      mp-drop-menu(attrs={open} on={change: $helpers.menuChange})
        .new-pane-content(attrs={'slot-body': true})= $component.child(`builder-pane`)
