@import "../../stylesheets/common"

.new-irb-builder
  font-size 16px
  font-weight 500
  padding 34px 36px 18px 36px
  position relative

  .query,
  .section-container,
  .builder-section,
  .clause-container,
  .clause-header,
  .clause-body
    display flex

  .section-container, .clause-container
    flex-direction column
    justify-content flex-end

  .clause-container, .builder-container
    margin-bottom 18px
    margin-right 12px

  .clause-body > div
    margin-right 10px

    &:last-child
     margin-right 0px

  .clause-header
    align-items flex-end
    color grey-700
    font-size 11px
    font-weight 900
    line-height 12px
    margin-bottom 4px
    text-transform uppercase

    button.reorder
      background none
      border none
      opacity 0
      padding 0
      transition opacity 0.2s
      svg-icon-style(grey-500, grey-700, pos-top: 3px)

      &.reorder-left
        margin-left -16px // reorder button width

    &:hover button.reorder
      opacity 1

  .clause-langauge
    color grey-300
    line-height 36px

  .contextual-menu
    .add-control
      display flex

      .control-label
        border: none;
        border-bottom: 1px dashed blueviolet;
        order 1
        transition width 0s, transform 1s
        width 0px

        .label-preposition
          color grey-300
          visibility hidden

      button.add-button
        background-color grey-50
        border 1px solid grey-150
        border-radius 50%
        box-shadow 0 1px 1px 0 rgba(76, 96, 113, 0.08)
        height 28px
        margin-left 2px
        order 2
        svg-icon-style(grey-700, size: 16px, pos-top: 1px)
        width 28px
        &:hover
          svg-icon-style(mp-blue, size: 16px, pos-top: 1px)

    .pane-open
      .control-label
        text-align left
        transition width animation-time, transform animation-time
        width 200px

        .label-preposition
          visibility visible


        button.add-button
          svg-icon svg
            transform rotate(45deg)

  .section.disabled
    opacity 0.3
    pointer-events none

  .reset-query
    cursor pointer
    position absolute
    right 20px
    top 20px
    svg-icon-style(grey-700, grey-500)

  .drop-menu
    position relative
    top 6px

  .error-no-project-data .irb-builder
    .builder-error-caption
      color grey-700
      font-size 14px
      text-align center
      padding 5px 0

    .error-title
      color grey-900
      font-size 16px
      font-weight 900

    .error-builder-button
      display flex
      justify-content center
      margin 20px 0

  /* Builder Jade Mixins */

  option-height = 30px

  // property-list
  ul.screen-options-list
    margin 0 10px
    flex 1 1 auto
    overflow auto
    .highlight-match
      color mp-blue

    &:empty
      loader(4px)
      margin 12px auto

  li.list-option
    align-items center
    border-radius 3px
    cursor pointer
    display flex
    font-size 12px
    font-weight 500
    height option-height
    justify-content flex-end

    &:first-child
      margin-top 10px

    &:last-child
      margin-bottom 10px

    &:hover
      background-color grey-100
      color mp-blue

      .option-icon
        svg-icon-style(mp-blue)

      .option-secondary-action
        display flex

    .list-option.list-empty
      pointer-events none
      justify-content center

  // resource-type-toggle
  .resource-type-control
    border-bottom 1px solid grey-150
    padding 12px
    padding-bottom 8px

    .resource-type-tabs
      display flex

      .tab
        border 1px solid grey-200
        background grey-100
        color grey-700
        font-size 11px
        font-weight 600
        flex 1 1
        padding 8px
        text-transform capitalize

        &:first-child
          border-radius 5px 0 0 5px

        &:last-child
          border-radius 0 5px 5px 0

        &:not(:last-child)
          border-right none

        &:hover:not(.selected)
          background-color mp-blue
          border-color mp-blue
          color white

          & + .tab
            border-left-color mp-blue

        &.selected
          background white

  // screen-footer-button
  button.screen-footer
    background none
    border none
    border-top 1px solid grey-150
    color grey-500
    font-size 12px
    font-weight 500
    line-height 100%
    min-height 48px
    padding 0

  // screen-option
  .option-label
    padding-left 8px
    ellipsis()
    flex 1 1
    .highlight-match
      color mp-blue

  .option-icon
    padding-left 5px
    svg-icon-style(grey-700)

  // screen-title
  .screen-title
    align-items center
    box-shadow 0 1px 3px 0 rgba(156,172,187,0.37), 0 1px 0 0 #E5EAEF;
    color grey-700
    display flex
    flex none
    font-size 11px
    font-weight 900
    height 48px
    position relative


    .title-button
      cursor pointer
      padding 10px
      position absolute
      svg-icon-style(grey-500, grey-700)

      &.close-button
        right 0

    .title-label
      ellipsis()
      padding 0 30px
      text-align center
      text-transform uppercase
      width 100%

  // secondary-action-pill
  .option-secondary-action
    align-items center
    display none
    flex none
    padding 0 10px
    margin-right 10px

    &.pill
      background-color grey-50
      border-radius 40px
      color grey-500
      font-size 10px
      font-weight 900
      height 18px

      .secondary-label
        vertical-align middle

      .caret-icon
        svg-icon-style(grey-500, speed: 0s, pos-top: 1px)

      &:hover
        background-color mp-blue
        color #fff
        svg-icon-style(#fff, speed: 0s, pos-top: 1px)

  // small-caret-icon
  .small-caret
    svg-icon-style(size: 16px)
