@import "../../stylesheets/common"

.new-irb-builder
  font-size 16px
  font-weight 500
  padding 34px 36px 18px 36px
  position relative

  .reset-query
    cursor pointer
    position absolute
    right 20px
    top 20px
    svg-icon-style(grey-700, grey-500)

.error-no-project-data .irb-builder
  .builder-error-caption
    color grey-700
    font-size 14px
    text-align center
    padding 5px 0

  .error-title
    color grey-900
    font-size 16px
    font-weight 900

  .error-builder-button
    display flex
    justify-content center
    margin 20px 0
