@import "../../stylesheets/common"

.new-irb-builder
  font-size 16px
  font-weight 500
  padding 34px 36px 18px 36px
  position relative

  .query,
  .section-container,
  .builder-section,
  .clause-container,
  .clause-header,
  .clause-body
    display flex

  .section-container, .clause-container
    flex-direction column
    justify-content flex-end

  .clause-container, .builder-container
    margin-bottom 18px
    margin-right 12px

  .clause-body > div
    margin-right 10px

    &:last-child
     margin-right 0px

  .clause-header
    align-items flex-end
    color grey-700
    font-size 11px
    font-weight 900
    line-height 12px
    margin-bottom 4px
    text-transform uppercase

    .preposition:after
      content '\00a0'
      display inline-block

    button.reorder
      background none
      border none
      opacity 0
      padding 0
      transition opacity 0.2s
      svg-icon-style(grey-500, grey-700, pos-top: 3px)

      &.reorder-left
        margin-left -16px // reorder button width

    &:hover button.reorder
      opacity 1

  .clause-langauge
    color grey-300
    line-height 36px

  .section.disabled
    opacity 0.3
    pointer-events none

  .reset-query
    cursor pointer
    position absolute
    right 20px
    top 20px
    svg-icon-style(grey-700, grey-500)

.error-no-project-data .irb-builder
  .builder-error-caption
    color grey-700
    font-size 14px
    text-align center
    padding 5px 0

  .error-title
    color grey-900
    font-size 16px
    font-weight 900

  .error-builder-button
    display flex
    justify-content center
    margin 20px 0

/* Builder Jade Mixins */
// small-caret-icon
.small-caret
  svg-icon-style(size: 16px)
