include ../mixins.jade

.builder-screen.sources
  ul.screen-options-list
    if contextFilter
      +filtered-options-lists($helpers.getFilteredLists())
    else
      each source in $helpers.SOURCES
        +generic-options-list-item(source.name, {
          onclick: () => $helpers.clickedSource(source),
        })
