include ../mixins.jade

.builder-screen.sources
  ul.screen-options-list(
    class=util.learnDisabledClasses({childExceptions: [`first`]})
    hook={postpatch: $helpers.updateRenderedSize}
    on={scroll: $helpers.scrolledList}
  )
    if contextFilter
      +filtered-options-lists($helpers.getFilteredLists())
    else
      each source in $helpers.getSources()
        +generic-options-list-item(source.name, {
          onclick: () => $helpers.clickedSource(source),
        })
