include ../mixins.jade

.builder-screen.sources
  ul.screen-options-list.irb-learn-compare-event-disabled-except-last-child.irb-learn-group-by-disabled-except-first-child(
    hook={postpatch: $helpers.updateRenderedSize}
    on={scroll: $helpers.scrolledList}
  )
    if contextFilter
      +filtered-options-lists($helpers.getContextLists())
    else
      each option in $helpers.getContextOptions()
        +generic-options-list-item(option.name, {
          class: `contextual-menu-option`,
          onclick: () => $helpers.clickedOption(option),
        })
