include ../mixins.jade

.builder-screen.sources
  ul.screen-options-list(on={scroll: $helpers.scrolledList})
    if contextFilter
      +filtered-options-lists($helpers.getContextLists())
    else
      each option in $helpers.getContextOptions()
        +generic-options-list-item(option.name, {
          class: `contextual-menu-option`,
          onclick: () => $helpers.clickedOption(option),
        })
