include ./mixins.jade

- const properties = $helpers.getProperties();

.builder-screen.properties
  +screen-title(`Properties of ${$component.event}`, {backButton: $helpers.screenIdx() > 1})
  +property-list(properties, {
    clickedProperty: $helpers.clickedProperty,
    loading: $component.isLoading()
  })
  if !$component.isLoading()
    +screen-footer-button(($component.isShowingNonNumericProperties() ? `Hide` : `View all`) + ` non-numeric properties`, {
      onclick: $helpers.toggleNonNumericProperties
    })
