include ../mixins.jade

.builder-screen.sources
  ul.screen-options-list
    each source in $helpers.SOURCES
      +generic-options-list-item(source.name, {onclick: () => $helpers.clickedSource(source)})
