include ./mixins.jade

.builder-screen.sources
  ul.screen-options-list
    for source in $helpers.SOURCES
      li.list-option(onclick=() => $helpers.clickedSource(source))
        +screen-option(source.name)
        +small-caret-icon()
