- let selectedTypeIndex = state.editing && constants.resourceTypeChoices.indexOf(state.editing.type);

.irb-show-pane
  ul.column.resourceType
    for type, i in constants.resourceTypeChoices
      li(
        class=selectedTypeIndex === i ? 'selected' : '',
        ev-click=() => helpers.updateSection({type}),
      )= helpers.capitalize(type)
  ul.column.resourceValue
    li All
