.control.irb-group-view
  if !groups.length
    .subject.group
      h3
      button.verb.add Group
  else
    for group, index in groups
      .preposition= index ? 'and by' : 'by'
      .subject.group
        h3= 'Group' + (groups.length === 1 ? '' : ' ' + (index + 1))
        button.noun
          span= group.value
        if index == groups.length - 1
          button.verb.add Group
