.section.irb-show-view.section
  if !showSection.length
    .clause.comparison
      h3
      .control-container= views.addControl(state)
  else
    for comparison, index in showSection
      if index
        .preposition and
      .clause.comparison
        h3= 'Show' + (showSection.length === 1 ? '' : ' ' + (index + 1))
        .control-container= views.editControl(state, index)
        if index === showSection.length - 1
          .control-container= views.addControl(state)
