- const selectedRange = state.stageClause && state.stageClause.range;

.pane-content-view(class=elementClass)
  ul.column.toggle.ranges
    for range in constants.rangeChoices
      li(
        class=[range === selectedRange ? 'selected' : '', range === constants.customRange ? 'disabled' : '']
        ev-click=() => helpers.updateStageClause({range}, true),
      )= range
