- const selectedResourceType = $helpers.getActiveClauseProperty('resourceType');
- const selectedProperty = $helpers.getActiveClauseProperty('value');

.property.pane-content
  ul.column.toggle.resource-type
    for resourceType in $component.resourceTypeChoices
      li(
        class={
          selected: resourceType === selectedResourceType,
          disabled: resourceType !== 'all',
        }
        onclick=() => $helpers.updateStageClause({resourceType})
      )= util.capitalize(resourceType)
  ul.column.resource-value
    for property in topProperties
      if $helpers.matchesSearch(util.renameProperty(property.name))
        li.property(
          class=`type-${property.type}`
          class={selected: property.name === selectedProperty}
        )
          span(onclick=() => $helpers.selectProperty(property))= util.renameProperty(property.name)
          button.next-arrow(onclick=() => $helpers.selectArrow(property)) ›
