- const selectedResourceType = stageClause && stageClause.resourceType;
- const selectedProperty = stageClause && stageClause.value;

.pane-content
  ul.column.toggle.resource-type
    for resourceType in $component.resourceTypeChoices
      li(
        class={
          selected: resourceType === selectedResourceType,
          disabled: resourceType !== 'all',
        }
        onclick=() => $helpers.updateStageClause({resourceType})
      )= util.capitalize(resourceType)
  ul.column.resource-value
    for property in topProperties
      if $helpers.matchesSearch(util.renameProperty(property.name))
        li.property(
          class=`type-${property.type}`
          class={selected: property.name === selectedProperty}
          onclick=() => $helpers.selectProperty(property, true)
        )
          span= util.renameProperty(property.name)
          button.next-arrow(onclick=() => $helpers.selectProperty(property)) ›
