- const selectedRange = $helpers.getActiveClauseProperty('range');

.pane-content.time-pane-content
  ul.column.toggle.ranges
    for range in $component.constants.rangeChoices
      li(
        class={
          selected: range === selectedRange,
          disabled: range === $component.constants.customRange,
        }
        onclick=() => $helpers.updateStageClause({range}, true)
      )= range
