include ./mixins.jade

.builder-view.events
  +view-title('All Events', {backButton: true})
  ul.view-options-list
    for mpEvent in $helpers.getEvents()
      li.list-option(onclick=() => $helpers.clickedEvent(mpEvent))
        +view-option(util.renameEvent(mpEvent.name), {icon: mpEvent.icon})
        +secondary-action-pill('Properties')

