include ./mixins.jade

.builder-section
  +builder-title('All Events', true, true)
  ul.section-options
    for mpEvent in $helpers.getEvents()
      li.section-option(
        onclick=() => $helpers.clickedEvent(mpEvent)
      )
        .option-icon
          svg-icon(attributes={icon: mpEvent.icon})
        .label= util.renameEvent(mpEvent.name)
        .secondary-action.pill
          span.secondary-label Properties
          .caret-icon.small-caret
            svg-icon(attributes={icon: 'caret-right'})

