include ./mixins.jade

.builder-view.events
  +view-title('All Events', true, true)
  ul.view-options-list
    for mpEvent in $helpers.getEvents()
      li.list-option(
        onclick=() => $helpers.clickedEvent(mpEvent)
      )
        .option-icon
          svg-icon(attributes={icon: mpEvent.icon})
        .option-label= util.renameEvent(mpEvent.name)
        +secondary-action-pill()

