include ./mixins.jade

.builder-screen.events
  +screen-title('All Events', {backButton: true})
  ul.screen-options-list
    each mpEvent in $helpers.getEvents()
      li.list-option(onclick=() => $helpers.clickedEvent(mpEvent))
        +screen-option(util.renameEvent(mpEvent.name), {icon: mpEvent.icon})
        +secondary-action-pill('Properties', {onclick: ev => $helpers.clickedEventProperties(ev, mpEvent)})
