include ./mixins.jade

.builder-section
  +builder-title('All Events', true, true)
  ul.section-options
    for event in $helpers.getEvents()
      li.section-option(
        onclick=() => $helpers.clickedEvent(event)
      )
        .option-icon
          svg-icon(attributes={icon: event.icon})
        .label= util.renameEvent(event.name)
        .secondary-action.pill
          span.secondary-label Properties
          .caret-icon.small-caret
            svg-icon(attributes={icon: 'caret-right'})

