include ./mixins.jade

.builder-view.events
  +view-title('All Events', true, false)
  ul.view-options-list
    for mpEvent in $helpers.getEvents()
      li.list-option(onclick=() => $helpers.clickedEvent(mpEvent))
        +view-option(util.renameEvent(mpEvent.name), mpEvent.icon)
        +secondary-action-pill()

