.builder-view(style=builderPane.sizeStyle)
  .builder-offset-container(style=builderPane.offsetStyle)
    for view, viewIdx in builderPane.views
      .section-view
        = $component.child(view.componentName, {attributes: {'view-index': viewIdx}})
