.builder-view(style=$helpers.builderStyle())
  for view, viewIdx in builderPane.viewHistory
    .section-view(
      class=[view.type]
    )= $component.child(`builder-view-${view.type}`, {attributes: {'view-index': viewIdx}})
