@import "../../../stylesheets/common"

option-height = 30px
transition-time = .25s

.builder-pane
  border-radius 5px
  overflow hidden
  transition width transition-time, height transition-time

  .builder-pane-offset
    display flex
    transition transform transition-time

  .builder-screen
    display flex
    flex-direction column
    max-height 486px
    width 320px

    ul.screen-options-list
      flex 1 1 auto
      overflow auto

      &:empty
        loader(4px)
        margin 12px auto

      .list-option.list-empty
        pointer-events none
        justify-content center

    li.list-option
      align-items center
      border-radius 3px
      cursor pointer
      display flex
      font-size 12px
      font-weight 500
      height option-height
      justify-content flex-end
      margin 0 10px

      &:first-child
        margin-top 10px

      &:last-child
        margin-bottom 10px

      &:hover
        background-color grey-100
        color mp-blue

        .option-icon
          svg-icon-style(mp-blue)

        .option-secondary-action
          display flex

    &.sources
        width 260px

        li.list-option
          font-size 11px
          font-weight 900
          text-transform uppercase

          .caret-icon
            svg-icon-style(mp-blue, speed: 0s)
            visibility hidden

          &:hover .caret-icon
            visibility visible

.resource-type-control
  border-bottom 1px solid grey-150
  padding 12px
  padding-bottom 8px

  .resource-type-tabs
    .tab
      border 1px solid grey-200
      background grey-100
      color grey-700
      font-size 11px
      font-weight 600
      padding 8px
      text-transform capitalize
      width 33.33%

      &:first-child
        border-radius 5px 0 0 5px

      &:last-child
        border-radius 0 5px 5px 0

      &:not(:last-child)
        border-right none

      &:hover:not(.selected)
        background-color blue-700
        border-color blue-700
        color white

        & + .tab
          border-left-color blue-700

      &.selected
        background white

  .resource-type-label
    color grey-700
    font-size 11px
    font-weight 600
    margin-top 12px
    text-transform uppercase

/* Builder Jade Mixins */
// secondary-action-pill
.option-secondary-action
  align-items center
  display none
  flex none
  padding 0 10px
  margin-right 10px

  &.pill
    background-color grey-50
    border-radius 40px
    color grey-500
    font-size 10px
    font-weight 900
    height 18px

    .secondary-label
      vertical-align middle

    .caret-icon
      svg-icon-style(grey-500, speed: 0s, pos-top: 1px)

    &:hover
      background-color mp-blue
      color #fff
      svg-icon-style(#fff, speed: 0s, pos-top: 1px)

// small-caret-icon
.small-caret
  svg-icon-style(size: 16px)

// screen-option
.option-label
  padding-left 8px
  ellipsis()
  flex 1 1

.option-icon
  padding-left 5px
  svg-icon-style(grey-700)

// screen-title
.screen-title
  align-items center
  background-color grey-150
  color grey-700
  display flex
  flex none
  font-size 11px
  font-weight 900
  height 48px
  position relative

  .title-button
    cursor pointer
    padding 10px
    position absolute
    svg-icon-style(grey-500, grey-700)

    &.close-button
      right 0

  .title-label
    text-align center
    text-transform uppercase
    width 100%

// screen-footer-button
button.screen-footer
  background none
  border none
  border-top 1px solid grey-150
  color grey-500
  font-weight 500
  font-size 12px
  min-height 48px
  line-height 100%
  padding 0
