.builder-pane(style=builderPane.sizeStyle)
  .builder-pane-offset(style=builderPane.offsetStyle)
    for view, viewIdx in builderPane.views
      = $component.child(view.componentName, {attributes: {'view-index': viewIdx}})
