.builder-view(style=builderPane.sizeStyle)
  .builder-offset-container(style=builderPane.offsetStyle)
    for view, viewIdx in builderPane.viewHistory
      .section-view(
        class=[view.type]
      )= $component.child(`builder-view-${view.type}`, {attributes: {'view-index': viewIdx}})
