mixin view-title(title, backButton, closeButton)
  .section-title
    .title-label= title
    if backButton
      .title-button.back-button(onclick=$helpers.previousBuilderView)
        svg-icon(attributes={icon: 'caret-left'})
    if closeButton
      .title-button.close-button(onclick=$helpers.closeBuilder)
        svg-icon(attributes={icon: 'x'})
