mixin secondary-action-pill(label)
  -label = label || 'Properties'
  .option-secondary-action.pill
    span.secondary-label= label
    +small-caret-icon()

mixin small-caret-icon(direction)
  -direction = direction || 'right'
  .caret-icon.small-caret
    svg-icon(attributes={icon: `caret-${direction}`})

mixin view-title(title, backButton, closeButton)
  .section-title
    .title-label= title
    if backButton
      .title-button.back-button(onclick=$helpers.previousBuilderView)
        svg-icon(attributes={icon: 'caret-left'})
    if closeButton
      .title-button.close-button(onclick=$helpers.closeBuilder)
        svg-icon(attributes={icon: 'x'})
