mixin secondary-action-pill(label)
  .option-secondary-action.pill
    span.secondary-label= label
    +small-caret-icon()

mixin small-caret-icon(options)
  - options = options || {}
  .caret-icon.small-caret
    svg-icon(attributes={icon: `caret-${options.direction || 'right'}`})

mixin screen-option(label, options)
  - options = options || {}
  if options.icon
    .option-icon
      svg-icon(attributes={icon: options.icon})
  .option-label= label

mixin screen-title(title, options)
  - options = options || {}
  .screen-title
    .title-label= title
    if options.backButton
      .title-button.back-button(onclick=$helpers.previousScreen)
        svg-icon(attributes={icon: 'caret-left'})
    if options.closeButton
      .title-button.close-button(onclick=$helpers.closePane)
        svg-icon(attributes={icon: 'x'})
