mixin builder-title(title, backButton, closeButton)
  .section-title
    .title-label= title
    if backButton
      .title-button.back-button(onclick=() => $component.previousBuilderView())
        svg-icon(attributes={icon: 'caret-left'})
    if closeButton
      .title-button.close-button(onclick=() => $component.closeBuilder())
        svg-icon(attributes={icon: 'x'})
