include ./mixins.jade

.builder-screen.properties
  +screen-title('All Properties', true, true)
  ul.section-options
    for property in $helpers.getProperties()
      li.section-option(
        onclick=() => $helpers.clickedProperty(property)
      )
        .label= util.renameProperty(property.name)
  if $helpers.hasNumericProperties()
    button.footer(
      onclick=$helpers.toggleNonNumericProperties
    )= ($helpers.showNonNumericProperties() ? 'Hide' : 'View all') + ' non-numeric properties'
