include ./mixins.jade

- const properties = $helpers.getProperties();

.builder-screen.properties
  +screen-title('All Properties', {backbutton: true})
  if !properties.length
    div.empty-state No properties available
  else
    ul.section-options-list
      for property in properties
        li.list-option(onclick=() => $helpers.clickedProperty(property))
          +screen-option(util.renameProperty(property.name))
  button.footer(
    onclick=$helpers.toggleNonNumericProperties
  )= ($helpers.showingNonNumericProperties() ? 'Hide' : 'View all') + ' non-numeric properties'
