include ./mixins.jade

- const properties = $helpers.getProperties();

.builder-screen.properties
  +screen-title(`All Properties`, {backButton: $helpers.screenIdx() > 1})
  ul.screen-options-list
    if properties.length
      for property in properties
        li.list-option(onclick=() => $helpers.clickedProperty(property))
          - const iconType = property.type === `string` ? `text` : property.type;
          +screen-option(util.renameProperty(property.name), {icon: `type-${iconType}`})
    else if !$component.loading
      li.list-option.list-empty no properties available
  if !$component.loading
    +screen-footer-button(($component.showingNonNumericProperties ? `Hide` : `View all`) + ` non-numeric properties`, {
      onclick: $helpers.toggleNonNumericProperties
    })
