include ./mixins.jade

- const properties = $helpers.getProperties();
- const showingNonNumeric = $helpers.showingNonNumericProperties();
- const footerButtonText = (showingNonNumeric ? `Hide` : `View all`) + ` non-numeric properties`;

.builder-screen.properties
  +screen-title(`All Properties`, {backButton: $helpers.screenIdx() > 1})
  if !properties.length
    div.empty-state No properties available
  else
    ul.screen-options-list
      for property in properties
        li.list-option(onclick=() => $helpers.clickedProperty(property))
          - const iconType = property.type === `string` ? `text` : property.type;
          +screen-option(util.renameProperty(property.name), {icon: `type-${iconType}`})
  +screen-footer-button(footerButtonText, {
    onclick: $helpers.toggleNonNumericProperties
  })
