include ./mixins.jade

.builder-view.sources
  ul.view-options-list
    for source in $helpers.getSources()
      li.list-option(onclick=() => $helpers.clickedSource(source))
        .option-label= source.name
        .caret-icon.small-caret
          svg-icon(attributes={icon: 'caret-right'})
