.section.builder-filter
  if !report.sections.filter.clauses.length
    .clause.filter
      .control-container= $component.child('filter-add-control')
  else
    each clause, clauseIndex in report.sections.filter.clauses
      .preposition= clauseIndex ? 'and' : ''
      .clause.filter
        .control-container= $component.child('filter-edit-control', {attrs: {'clause-index': clauseIndex}})
        if clauseIndex == report.sections.filter.clauses.length - 1
          if $helpers.isAddingClause()
            .preposition and
          .control-container= $component.child('filter-add-control')
