.date-input
  input(
    attrs={
      type: 'text',
      placeholder: value ? $helpers.formatDateDisplay(value) : '',
    }
    on={
      focus: $helpers.focusedInput,
      blur: $helpers.blurredInput,
      change: $helpers.changedInput,
    }
    hook=$component.getAttribute('autofocus') ? {
      insert: $helpers.focus,
    } : {}
  )
