.date-input
  input(
    props={
      type: 'text',
      value: $helpers.formatDateDisplay(dateValue),
    }
    on={
      focus: $helpers.focusedInput,
      blur: $helpers.blurredInput,
      change: $helpers.changedInput,
    }
  )
