.date-input
  input(
    attrs={
      type: 'text',
      placeholder: $helpers.formatDateDisplay(dateValue),
    }
    on={
      blur: $helpers.blurredInput,
      change: $helpers.changedInput,
    }
  )
