- const selected = $helpers.getSelected();
.dropdown(class={'menu-open': $helpers.isOpen()})
  - console.log(selected)
  button.label(onclick=$helpers.onLabelClick)= $helpers.formatChoice(selected)
  ul
    for choice in $helpers.getChoices()
      li(class={selected: choice === selected})
        button(onclick=() => $helpers.onChoiceClick(choice))= $helpers.formatChoice(choice)
