@import "../../stylesheets/common"

.dropdown
  position relative

  button, li
    text-align left
    width 100%

  button
    background grey-50
    border 1px solid grey-300
    color grey-500
    font-size 12px
    height 32px
    padding 3px 8px

    &.label
      border-radius 2px
      color grey-700

      &::after
        border-left 5px solid transparent
        border-right 5px solid transparent
        border-top 5px solid grey-300
        content ''
        height 0
        position absolute
        right 14px
        top 14px
        width 0

  ul
    position absolute
    top 32px
    left 0
    transition opacity .05s
    width 100%
    z-index 2

    li
      margin-top -1px

      button
        transition color .05s

      &:last-child button
        border-radius 0 0 2px 2px

      &:hover, &.selected
        button
          color grey-700

      &.selected button
        background grey-100

  &:not(.menu-open) ul
    opacity 0
    pointer-events none
