@import "../../stylesheets/common"

sticky-scroll, .body // force scroll style to handle autohidden scrollBars
  &::-webkit-scrollbar
    border-radius 4px
    background-color #e7ecf0
    -webkit-appearance none
    width 8px
    padding 10px 0

  &::-webkit-scrollbar-thumb
    border 10px solid white
    border-radius 8px
    border 0 none
    background-color #c0ccd5

sticky-scroll
  box-sizing border-box
  height 400px
  position relative
  overflow-y auto

  .sticky-header
    position absolute
    z-index 1

    .sticky-title
      box-sizing border-box
      left 0
      position absolute
      top 0
      width 100%

  .body
    box-sizing border-box
    height 100%
    position absolute
    width 100%

  &.sticky
    overflow-y hidden

    .body
      overflow-y auto
