@import "../../stylesheets/common"

sticky-scroll, .body // force scroll style to handle autohidden scrollBars
  &::-webkit-scrollbar
    -webkit-appearance none

  &::-webkit-scrollbar:vertical
    width 11px

  &::-webkit-scrollbar:horizontal
    height 11px

  &::-webkit-scrollbar-thumb
    border-radius 8px
    border 2px solid white
    background-color rgba(0, 0, 0, .5)

sticky-scroll
  box-sizing border-box
  height 400px
  position relative
  overflow-y scroll

  .sticky-header
    position absolute
    z-index 1

    .sticky-title
      box-sizing border-box
      left 0
      position absolute
      top 0
      width 100%

  .body
    box-sizing border-box
    height 100%
    position absolute
    width 100%

  &.sticky
    overflow-y hidden

    .body
      overflow-y scroll
