@import "../../stylesheets/common"

sticky-scroll, .body // force scroll style to handle autohidden scrollBars
  &::-webkit-scrollbar
    background-color #e7ecf0
    border-radius 4px
    width 8px
    -webkit-appearance none

  &::-webkit-scrollbar-thumb
    background-color #c0ccd5
    border 10px solid white
    border-radius 8px
    border 0 none

  &::-webkit-scrollbar-button:start:decrement
    display block
    background-color #f9fafc

sticky-scroll
  box-sizing border-box
  height 400px
  overflow-y auto
  position relative

  .sticky-header
    position absolute
    z-index 1

    .sticky-title
      box-sizing border-box
      left 0
      position absolute
      top 0
      width 100%

  .body
    box-sizing border-box
    height 100%
    position absolute
    width 100%

  &.sticky
    overflow-y hidden

    .body
      overflow-y auto
