@import "../../stylesheets/common"

.toggle-widget
  li
    display inline-block
    margin-right 6px

    button
      background none
      border none
      color grey-500
      font-size 12px
      position relative
      text-indent 22px
      transition color .3s

      &::before, &::after
        content ''
        position absolute

      &::before
         border 2px solid grey-300
         border-radius 8px
         height 12px
         left 4px
         top 2px
         transition border-color .3s
         width 12px

      &::after
         background transparent
         border-radius 4px
         height 8px
         left 8px
         top 6px
         transition background-color .3s
         width 8px

    &.selected button
      color grey-700

      &::before
        border-color grey-500

      &::after
        background grey-500
