- const selected = $helpers.getSelected();
ul.toggle-widget
  for choice in $helpers.getChoices()
    li(class=[choice === selected ? 'selected' : '', $helpers.formatChoiceClass(choice)])
      button(onclick=() => handlers.onChoiceClick(choice))= $helpers.formatChoice(choice)
