- const selected = $helpers.getSelected();
ul.toggle-widget
  each choice in $helpers.getChoices()
    li(class=$helpers.formatChoiceClass(choice) class={selected: choice === selected})
      button(onclick=() => $helpers.onChoiceClick(choice))= $helpers.formatChoice(choice)
