include ../mixins.jade

.builder-screen.events
  +screen-title('All Events', {backButton: true})
  if !projectHasEvents || blocking.isBlockedEvents
    +upsell-pane('events')
  else
    mp-items-menu(
      attrs={
        'search-filter': contextFilter,
        'sections': JSON.stringify($helpers.getSections()),
      }
      on={
        clickItem: $helpers.clickedEvent,
        clickPropertiesPill: $helpers.clickedEventProperties,
        draw: $helpers.updateRenderedSize,
        focusItem: ev => ev.detail.item.description ? $helpers.showTooltipForItem(ev.detail.item) : $helpers.hideEventDefinitionTooltip(),
        mouseenterItem: ev => $helpers.showTooltipForItem(ev.detail.item),
        mouseleaveItem: ev => $helpers.hideEventDefinitionTooltip(),
      }
    )
      mp-event-definition-tooltip(
        on={
          mouseenterTooltip: $helpers.clearEventDefinitionTimeout,
          mouseleaveTooltip: $helpers.startEventDefinitionTimeout,
        }
        attrs={
          'event-description': eventDefinition ? eventDefinition.description : ``,
          'event-name': eventDefinition ? eventDefinition.name : ``,
          'lexicon-url': lexiconUrl,
          show: !!eventDefinition,
        }
      )
