include ../mixins.jade

.builder-screen.math
  ul.screen-options-list
    each math, idx in $helpers.getMathTypes()
      li.list-option(
        class={'list-option-active': idx === builderPane.activeIndex}
        on={
          click: () => $helpers.mathTypeClicked(math),
          mouseenter: () => $helpers.updateActiveIdx(idx),
        }
      )
        +screen-option(math, {noIcon: true})
