include ../mixins.jade

.builder-screen.events
  +screen-title('All Events', {backButton: true})
  if !projectHasEvents || blocking.isBlockedEvents
    +upsell-pane('events')
  else
    mp-items-menu(
      attrs={
        progressive: true,
        'search-filter': contextFilter,
        'sections': JSON.stringify($helpers.getSections()),
      }
      on={
        clickItem: $helpers.clickedEvent,
        clickPropertiesPill: $helpers.clickedEventProperties,
        draw: $helpers.updateRenderedSize,
        focusItem: $helpers.handleItemFocus,
      }
    )
    mp-event-definition-tooltip(
      attrs={
        'event-definition': JSON.stringify(eventDefinition),
        'lexicon-url': lexiconUrl,
      }
    )
