include ../mixins.jade

- const loading = $helpers.isLoading()
- const properties = $helpers.getProperties()

.builder-screen.properties
  +screen-title(`Properties of ${$helpers.getEventName()}`, {backButton: $helpers.screenIdx() > 1})
  .screen-list-container.arrow-key-scrollable(
    hook={postpatch: $helpers.updateRenderedSize}
    on={scroll: $helpers.scrolledList}
  )
    +property-list(properties, {
      clickedProperty: $helpers.clickedProperty,
      listEmptyMessage: `No non-numeric properties available`,
      selected: $component.getAttribute(`selected`),
      source: $component.getAttribute(`source`),
      loading,
    })
  if !loading
    +screen-footer-button(($component.isShowingNonNumericProperties() ? `Hide` : `View all`) + ` non-numeric properties`, {
      onclick: $helpers.toggleNonNumericProperties,
    })
