include ../../mixins.jade

- const open = $helpers.isOpen()

.query-builder-show-header
  .visible-header-content
    .header-label(class={'header-disabled': $helpers.isEditingShowClause()})
      if $helpers.isStaticHeader()
        | Show total
      else
        .header-word Show
        .active-math-header(on={click: $helpers.headerClicked})
          .header-word= $helpers.getCurrentMathChoice()
          svg-icon.math-caret(attrs={icon: 'caret-down'})
    if $helpers.isRemovable()
      button.remove(
        style={left: $helpers.buttonPosition()}
        class={
          'property': hasProperty,
        }
        on={click: hasProperty ? ev => $helpers.removeProperty(ev) : ev => $helpers.removeClause(ev)}
      )
        svg-icon(attrs={icon: 'x'})
  .drop-menu
    mp-drop-menu(attrs={open})
      .new-pane-content(attrs={'slot-body': true})
        = $component.child(`builder-pane`, {attrs: {open}})
