include ../mixins.jade

- const loading = $helpers.isLoading()

.builder-screen.properties
  +screen-title(`Properties of ${$helpers.getEventLabel()}`, {backButton: !!$helpers.screenIdx()})
  mp-items-menu(
    attrs={
      progressive: true,
      'search-filter': contextFilter,
      'sections': JSON.stringify($helpers.getPropertySections()),
      'empty-message': $component.isShowingNonNumericProperties() ? `No properties available` : `No numeric properties available`,
    }
    on={
      clickItem: $helpers.clickedProperty,
      draw: $helpers.updateRenderedSize,
    }
  )
  if !loading
    +screen-footer-button(($component.isShowingNonNumericProperties() ? `Show numeric properties only` : `Show all properties`), {
      onclick: $helpers.toggleNonNumericProperties,
    })
