include ../mixins.jade

- const loading = $helpers.isLoading();

.builder-screen.properties(class={'embedded': $helpers.isEmbedded()})
  if !$helpers.isEmbedded()
    +screen-title($helpers.getTitle(), {backButton: !!$helpers.screenIdx()})

  if !projectHasPeople || blocking.isBlockedPeople
    +upsell-pane('people')
  else
    mp-items-menu(
      attrs={
        progressive: true,
        'search-filter': contextFilter,
        'sections': JSON.stringify($helpers.getPropertySections()),
        'empty-message': $component.isShowingNonNumericProperties() ? `No properties available` : `No non-numeric properties available`,
      }
      on={
        clickItem: $helpers.clickedProperty,
        draw: $helpers.updateRenderedSize,
      }
    )
    if !loading
      +screen-footer-button(($component.isShowingNonNumericProperties() ? `Hide` : `View all`) + ` non-numeric properties`, {
        onclick: $helpers.toggleNonNumericProperties,
      })
