@import "../../../stylesheets/common"

query-builder-show-header, .query-builder-show-header
  width 100%

.query-builder-show-header
  position relative
  .visible-header-content
    display flex
    justify-content space-between
    svg-icon-style(mp-blue, pos-top: 2px, size: 16px)

    .header-label, .active-math-header
      align-items flex-end
      display flex

    .header-label
      height 15px

      .active-math-header
        cursor pointer

        .header-word
          font-weight 600
          &::before
            content space-character
          &:hover
            color mp-blue

.insights-builder .query-builder-show-header
  .option-label
      font-size 11px
      font-weight 700
