@import "../../../stylesheets/common"

animation-time = .25s

.irb-new-control.new-query-builder
  position relative

  .control-buttons
    align-items center
    display flex

    button
      background transparent
      border-width 0
      font-weight 500
      height 36px
      padding 0

    button.control-label
      border none
      border-bottom 1px dotted grey-500
      color blue-700
      font-family font-helvetica-neue
      font-size 16px

      &:hover
        border-bottom 1px solid blue-700

    &:hover
      color blue-300

  .add-control
    display flex

    button.control-label
      order 1
      transition width 0s, transform 1s
      width 0px

      .label-preposition
        color grey-300
        visibility hidden

    button.add-button
      background-color grey-50
      border 1px solid grey-150
      border-radius 50%
      box-shadow 0 1px 1px 0 rgba(76, 96, 113, 0.08)
      height 28px
      margin-left 2px
      order 2
      svg-icon-style(grey-700, size: 16px, pos-top: 1px)
      width 28px
      &:hover
        svg-icon-style(mp-blue, size: 16px, pos-top: 1px)

  &.pane-open .add-control
    button.control-label
      text-align left
      transition width animation-time, transform animation-time
      width 200px

      .label-preposition
        visibility visible


    button.add-button
      svg-icon svg
        transform rotate(45deg)

  button.remove
    background none
    border none
    color grey-300
    font-weight 600
    opacity 0
    position absolute
    right -5px
    top -15px
    transition opacity .1s

    &::after
      content '✕'

    &:hover
      color grey-700

  &:hover button.remove
    opacity 1

  .drop-menu
    position relative
    top 6px
    &.header-menu
      position absolute

show-edit-control .irb-control
  min-width 60px

group-edit-control .irb-control
  min-width 65px
