.irb-control.new-query-builder(class=$component.elementClass)
  button.modify(onclick=$helpers.clickModify)
    span= $component.label
  if $component.isRemoveable
    button.remove(onclick=$helpers.removeClause)
  .drop-menu
    mp-drop-menu(attributes={open: $component.isPaneOpen})
      .new-pane-content(attributes={'slot-body': true})= $component.child(`builder-view`)
