.irb-new-control.new-query-builder(class={'pane-open': $component.isPaneOpen()})
  .control-buttons(class=$component.elementClasses)
    if $component.controlType === `add`
      button.control-label
      button.modify(onclick=$helpers.clickModify)
        svg-icon(attributes={icon: 'plus-large'})
    else
      button.control-label(onclick=$helpers.clickModify)
        span= $component.label

  if $component.isRemoveable
    button.remove(onclick=$helpers.removeClause)
  .drop-menu
    mp-drop-menu(attributes={open: $component.isPaneOpen()})
      .new-pane-content(attributes={'slot-body': true})= $component.child(`builder-pane`)
