.irb-control.new-query-builder(
  class=$component.elementClasses
  class={'pane-open': $component.isPaneOpen()}
)
  button.modify(onclick=$helpers.clickModify)
    if $component.controlType === `add`
      span= test
    span= $component.label

  if $component.isRemoveable
    button.remove(onclick=$helpers.removeClause)
  .drop-menu
    mp-drop-menu(attributes={open: $component.isPaneOpen()})
      .new-pane-content(attributes={'slot-body': true})= $component.child(`builder-pane`)
