.insights-builder.insights-learn-manipulate-data-disabled
  if projectHasEvents || projectHasPeople
    .query
      if datasets.length > 0
        .section-container.datasets-control= $component.child('query-builder-dataset')
      .section-container.show-control= $component.child('query-builder-show')
      .section-container.group-control= $component.child('query-builder-group')
      .sections
        .section-container.contextual-add-control(class={
          'contextual-pane-open': $helpers.isContextualPaneOpen(),
        })= $component.child('query-builder-contextual-add')
        if $helpers.shouldShowTimeBuilder()
          .section-container.time-control= $component.child('query-builder-time')
    .filters= $component.child('query-builder-filter')
    .reset-query.insights-learn-disabled(on={click: $helpers.reset})
      svg-icon(attrs={icon: 'x'})
      mp-tooltip(attrs={placement: `left`}) Reset
  else
    .builder-error-caption.error-title We haven't received any events from you yet
    .builder-error-caption You'll need to install Mixpanel's library on your site and start tracking your user's actions.
    .error-builder-button
      mp-button(on={click: $helpers.clickSetupMixpanel}).mp-button-primary Install Mixpanel
