include ../mixins.jade

- const clause = $helpers.getGroupClause()
- const selectedUnit = clause.unit

.builder-screen.datetime-options
  +screen-title(`Bucket ${util.renameProperty(clause.value)} by unit`, {backButton: true})
  ul.screen-options-list(hook={postpatch: $helpers.updateRenderedSize})
    - const units = $helpers.availableUnits()
    if units.length
      each unit in units
        - const isSelected = unit.name.toLowerCase() === selectedUnit
        li.list-option(
          class={'list-option-selected': isSelected}
          on={
            click: !isSelected ? () => $helpers.clickedUnit(unit.name) : null,
          }
        )
          +screen-option(unit.name, {noIcon: true, matches: unit.matches})
    else
      li.list-option.list-empty Your search returned no results
