include ../mixins.jade

- const isEventsOnlyQuery = $helpers.isEventsOnlyQuery()
- const resourceType = $helpers.getSelectedResourceType()

.builder-screen.properties(hook={postpatch: $helpers.updateRenderedSize})
  +screen-title(`Group by a ${isEventsOnlyQuery ? `` : `people`} property`, {backButton: $helpers.screenIdx() >= 1})
  +property-screen-body({
    resourceTypes: isEventsOnlyQuery && $helpers.RESOURCE_TYPES,
    selectedResourceType: $helpers.getSelectedResourceType(),
    clickedResourceType: $helpers.clickedResourceType,
    propertySections: $helpers.getPropertySections(),
    clickedProperty: $helpers.clickedProperty,
    scrolledList: $helpers.scrolledList,
    loading: $helpers.isLoading(),
    selected: $component.getAttribute(`selected`),
    source: $component.getAttribute(`source`),
    secondaryPillForSelected: `Bucketing`,
    clickedSecondaryPill: $helpers.clickedSecondaryPill,
  })
