@import "../../../stylesheets/common"

.clause
  .header-controls
    display inline-block
    position relative

    h3, button.reorder
      display inline-block

    button.reorder
      background none
      border none
      color #646670
      font-size 24px
      opacity 0
      position absolute
      top -7px
      transition opacity 0.2s

      &.reorder-left
        left -18px

      &:hover
        color #46474e

  &:hover button.reorder
    opacity 1
