bg-bodygray = #dee3ec
border-gray = #dedfe3
outer-border-gray = #d6dce6
txt-gray = #6e859d

font-helvetica-neue = 'Helvetica Neue', Helvetica, Arial, sans-serif

clearfix()
  &::after
    content ""
    display table
    clear both

bottom-shadow()
  box-shadow 0px 1px 1.8px 0.2px rgba(69, 81, 113, 0.2)
