@import "~mixpanel-common/stylesheets/mixins/common.styl"

border-gray = grey-200
header-gray = grey-100

font-helvetica-neue = 'Helvetica Neue', Helvetica, Arial, sans-serif

segment-color-1 = mp-navy
segment-color-2 = mp-ultramarine
segment-color-3 = blue-300
segment-color-4 = mp-turquoise
segment-color-5 = mp-seafoam
segment-color-6 = mp-aquamarine
segment-color-7 = mp-orange
segment-color-8 = mp-yellow

irb-panel-margin = 20px
loader-bar-height = 12px
input-animation-time = .25s
space-character = '\00a0'

:export
  grey-150 grey-150
  segment-color-1 segment-color-1
  segment-color-2 segment-color-2
  segment-color-3 segment-color-3
  segment-color-4 segment-color-4
  segment-color-5 segment-color-5
  segment-color-6 segment-color-6
  segment-color-7 segment-color-7
  segment-color-8 segment-color-8

span.substr.matches-search
  color grey-900
  font-weight 600

// general fix for firefox button flex issue
span.button-flex-wrapper
  align-items inherit
  display flex
  justify-content inherit

bottom-shadow()
  box-shadow 0px 1px 1.8px 0.2px rgba(69, 81, 113, 0.2)

clearfix()
  &::after
    content ""
    display table
    clear both

ellipsis()
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

panel-top()
  background-color header-gray
  border-radius 5px 5px 0 0
  box-shadow inset 0px 1px #fff

svg-height(height)
  svg-icon
    height height
    svg, path
      height height
