background-gray = #e4e5e9
light-gray = #dadde8
medium-gray = #a7a9b3
dark-gray = #92949d

font-helvetica-neue = 'Helvetica Neue', Helvetica, Arial, sans-serif

clearfix()
  &::after
    content ""
    display table
    clear both

bottom-shadow()
  box-shadow 0px 1px 1.8px 0.2px rgba(69, 81, 113, 0.2)
