@import "~mixpanel-common/stylesheets/defaults/index.css"
@import "common"

#mixpanel-application
  color grey-500
  font 14px font-helvetica-neue
  font-weight 500

  button
    cursor pointer
    outline none
