@import "reset.css"
@import "common"

body
  background-color background-gray
  color light-gray
  font 14px font-helvetica-neue
  font-weight 500
  overflow hidden

button
  cursor pointer
  outline none
