.section.builder-time
  if report.sections.time.clauses.length
    .preposition in the
    .clause.time
      .clause-header
        h3 Time
      .control-container= $component.child('time-edit-control', {attrs: {'clause-index': 0}})
