- const open = $helpers.isPaneOpen()

.control-container
  .irb-new-control.new-query-builder(class={'pane-open': open})
    .control-buttons.edit-control.control-button-text.irb-learn-emphasize
      if open
        resize-input.control-label(
          attrs={placeholder: $helpers.getLabelText()}
          props={
            autoFocus: true,
            type: `text`,
            value: contextFilter,
          }
          on={
            click: $helpers.clickedInput,
            input: $helpers.changedSearch,
          }
        )
      else
        - const prefix = $helpers.labelPrefixComponent()
        .control-label
          if prefix && prefix.componentName
            .control-label-prefix= $component.child(prefix.componentName, {attrs: prefix.attrs})
          .control-label-text(on={click: $helpers.clickedLabel})
            - const label = $helpers.getLabel()
            if typeof label === 'string'
              = label
            else
              each labelPart in label
                span.edit-label-part= labelPart
      if $helpers.isRemovable() && $helpers.getSection() === `filter`
        button.remove(on={click: $helpers.removeClause})
          svg-icon(attrs={icon: 'x'})
    .drop-menu
      mp-drop-menu(attrs={open} on={change: $helpers.menuChange})
        .new-pane-content(attrs={'slot-body': true})
          = $component.child(`builder-pane`, {attrs: $helpers.getSelectionAttrs(open)})
