include ../mixins.jade

- const selected = $component.getAttribute(`selected`)

.builder-screen.time
  ul.screen-options-list(hook={postpatch: $helpers.updateRenderedSize})
    - let hasResults = false
    each range in $helpers.RANGE_LIST
      if range.includes(contextFilter)
        - hasResults = true
        - const isSelected = range === selected
        - const isCustom = range === $helpers.RANGES.CUSTOM
        li.list-option(
          class={
            'list-option-selected': isSelected,
            'list-option-time-custom': isCustom,
          }
          on={
            click: !isSelected || isCustom ? () => $helpers.clickedRange(range) : null,
          }
        )
          +screen-option(range, {noIcon: true})
    if !hasResults
      li.list-option.list-empty Your search returned no results
