include ../mixins.jade

- const {from, to} = $helpers.getDates();
- const maxDataHistoryDays = $helpers.getMaxDataHistoryDays();

.builder-screen.time-custom
  if $helpers.dateLimited()
    .screen-title
      .upsell-header
        svg-icon(attrs={icon: 'lighting-bolt'})
        .upsell-text Analyze your historical data beyond #{maxDataHistoryDays} days.
        a.upsell-text.upgrade-link(attrs={href: '/pricing', target: '_blank'}) Upgrade  your plan.
      .title-button.back-button(on={click: $helpers.clickedBackButton})
        svg-icon(attrs={icon: 'caret-left'})

  else
    +screen-title(`Choose a date range`, {backButton: true})
  .range-control
    irb-datepicker(
      attrs={
        'max-data-history': maxDataHistoryDays,
        range: true,
        'double-calendar': true,
        'hide-text-inputs': true,
        'from-focused': builderPane.fromFocused,
        'to-focused': builderPane.toFocused,
      }
      props={
        value: {from, to},
      }
      on={
        change: $helpers.changedDates,
        resize: $helpers.resizedCalendar,
      }
    )
  if report.displayOptions.chartType === `line`
    .unit-control
      .builder-label Time unit
      mp-toggle(
        attrs={
          square: true,
          selected: $helpers.getStageClauseAttr(`unit`),
        }
        on={
          select: $helpers.changedUnit,
        }
      )
        each unit in $helpers.UNITS
          mp-toggle-option(attrs={value: unit})= unit
