@import "../../../stylesheets/common"

.builder-pane .builder-screen.time-custom
  max-height initial
  padding-bottom 20px
  width auto

  .range-control, .unit-control
    padding 20px
    padding-bottom 0

  .range-control
    padding-top 22px

  .unit-control
    padding-top 0

    .builder-label
      margin 20px 0 12px 0

    mp-toggle
      width 100%
