@import "../../../stylesheets/common"

.builder-pane .builder-screen.time
  width 260px

  .list-option-time-custom .option-label
    cursor pointer

  .list-option-upsell
    .option-label
      color grey-700

    .upsell-icon
      svg-icon-style(mp-purple)
