include ../mixins.jade

- const {from, to} = $helpers.getDates();
- const maxDataHistoryDays = $helpers.getMaxDataHistoryDays();

.builder-screen.time-custom
  if $helpers.dateLimited()
    +screen-title(`Analyze your historical data beyond ${maxDataHistoryDays} days.`, {
      backButton: true,
      upsell: true,
      upsellLinkText: `Upgrade your plan.`,
    })

  else
    +screen-title(`Choose a date range`, {backButton: true})
  .range-control
    irb-datepicker(
      attrs={
        'max-data-history': maxDataHistoryDays,
        range: true,
        'double-calendar': true,
        'hide-text-inputs': true,
        'from-focused': builderPane.fromFocused,
        'to-focused': builderPane.toFocused,
      }
      props={
        value: {from, to},
      }
      on={
        change: $helpers.changedDates,
        resize: $helpers.resizedCalendar,
      }
    )
  if report.displayOptions.chartType === `line`
    .unit-control
      .builder-label Time unit
      mp-toggle(
        attrs={
          square: true,
          selected: $helpers.getStageClauseAttr(`unit`),
        }
        on={
          select: $helpers.changedUnit,
        }
      )
        each unit in $helpers.UNITS
          mp-toggle-option(attrs={value: unit})= unit
