.pane-content.custom-date-pane-content
  .filter-value-input
    mp-calendar(
      attributes={range: true}
      onchange=$helpers.selectDateRange
    )
  .date-unit-select
    h4 Display unit
    ol.toggle
      - const selectedUnit = $helpers.getActiveClauseProperty('unit');
      for unit in $component.constants.unitChoices
        li(
          class={selected: unit === selectedUnit}
          onclick=() => $helpers.selectUnit(unit)
        )= unit
