@import "../../../stylesheets/common"

.builder-section.builder-time
  builder-time-edit-control
    .clause-language.preposition
      margin 0 8px

    date-input input
      width 100px

  builder-screen-time-custom
    .builder-label
      margin-top 0
