@import "../../../stylesheets/common"

.builder-section.builder-time
  position relative
  builder-time-edit-control
    .clause-language.preposition
      margin 0 8px

    date-input input
      width 100px

  builder-screen-time-custom
    .builder-label
      margin-top 0

  .upsell-wrapper
    left 49px
    position absolute
    top -40px

  &.align-custom-pane-right mp-drop-menu
    left initial
    right 0
