mixin sort-icon(colAccessor)
  - const isAxis = !isFinite(colAccessor)
  .sort-icon(
    class={
      'sort-axis': isAxis,
      'sort-bar-header': !isAxis,
    }
    on={
      click: () => $helpers.clickedHeader(colAccessor),
    }
  )
    - const icon = isAxis ? $helpers.getAxisSortIcon() : $helpers.getHeaderSortActive(colAccessor);
    svg-icon(attrs=({icon, empty: !icon}))


mixin sort-holder(type, sortByOptions, sortOrderOptions, colAccessor=`axis`)
  .sort-holder
    mp-drop-menu.sort-controls(
      attrs={open: activeSortPanel === colAccessor}
      on={change: ev => $helpers.menuChange(ev, colAccessor)}
    )
      each sortBy in sortByOptions
        each sortOrder in sortOrderOptions
          .sort-icon(on={click: () => $helpers.selectedHeaderSort(type, colAccessor, sortBy, sortOrder)})
            svg-icon(attrs=({icon: `sort-${$helpers.SORT_ICONS[sortBy]}-${sortOrder}`}))

.chart-header-container
  if headersStyle
    each header, idx in headersStyle
      .bar-chart-header(style={width: `${header.width}px`})
        - const headerLabel = $helpers.renameHeaderLabel(header.name)
        .text.shrinkable-label(
          on={click: () => $helpers.clickedHeader(idx)}
          props={title: headerLabel}
        )= headerLabel
        +sort-icon(idx)
        +sort-holder(`colSort`, [`label`, `value`], [`asc`, `desc`], idx)
    .bar-chart-axis(style={width: axisWidthStyle})
      .axis-title
        .text.shrinkable-label(
          on={click: () => $helpers.clickedHeader(`axis`)}
          props={title: chartLabel}
        )= chartLabel
        +sort-icon(`axis`)
        +sort-holder(`axisSort`, [`value`], [`asc`, `desc`], `axis`)
      .max-value
        .text(on={click: $helpers.clickedMaxValue})= $helpers.getMaxValueLabel()
