@import "../../../../stylesheets/common"

.property-prefix-icon
  align-items center
  display flex
  svg-icon-style(mp-blue, blue-100)

  > svg-icon
    height 18px
    min-height 18px
    min-width 18px
    transform scale(.95)
    width 18px

  &:after
    content space-character + "|" + space-character
    color grey-300
    font-weight 200

  typecast-pane
    bottom -5px
    left -17px
    position absolute
