ul.chart-toggle
  for chartType in $helpers.chartTypes()
    - const isEditingCurrentStyle = chartToggle.editingType === chartType
    - const selectedPlotStyle = $helpers.selectedPlotStyle(chartType)
    - const styleChoicesForChartType = $helpers.styleChoicesForChartType(chartType)
    li.chart-type(class=chartType class={
      selected: chartType === report.chartType,
      editing: isEditingCurrentStyle
    })
      button.label.chart-icon(
        class=[chartType, selectedPlotStyle]
        onclick=() => $helpers.onTypeClick(chartType)
      )= $helpers.formattedChartName(chartType, selectedPlotStyle)
      if styleChoicesForChartType.length > 1
        button.dropdown(onclick=() => $helpers.onDropdownClick(chartType))
      if isEditingCurrentStyle
        .chart-style-options
          .chart-type-title= chartType
          each plotStyle in styleChoicesForChartType
            button.style-option.chart-icon(
              class=[chartType, plotStyle]
              class={selected: selectedPlotStyle == plotStyle}
              onclick=() => $helpers.onStyleClick(chartType, plotStyle)
            )= $helpers.formattedChartName(chartType, plotStyle)
