ul.chart-toggle
  for type in $helpers.chartTypes()
    - const isEditingCurrentStyle = chartToggle.editingType === type
    - const plotStyle = $helpers.plotStyle(type)
    - const typeStyles = $helpers.chartTypeStyles(type)
    li.chart-type(class=type class={
      selected: type === report.chartType,
      editing: isEditingCurrentStyle
    })
      button.label.chart-icon(class=[type, plotStyle] onclick=() => $helpers.onTypeClick(type))= $helpers.formattedChartName(type, plotStyle)
      if typeStyles.length > 1
        button.dropdown(onclick=() => $helpers.onDropdownClick(type))
      if isEditingCurrentStyle
        .chart-style-options
          .style-title= type
          each style in typeStyles
            button.style-option.chart-icon(
              class=[type, style]
              class={selected: plotStyle == style}
              onclick=() => $helpers.onStyleClick(type, style)
            )= $helpers.formattedChartName(type, style)
