ul.chart-toggle
  for chartType in $helpers.chartTypes()
    - const isEditingCurrentStyle = chartToggle.editingType === chartType
    - const selectedPlotStyle = $helpers.selectedPlotStyle(chartType)
    - const styleChoicesForChartType = $helpers.styleChoicesForChartType(chartType)
    li.chart-type(class=chartType class={
      editing: isEditingCurrentStyle
    })
      button.label.icon(
        class=[chartType, selectedPlotStyle]
        class={selected: chartType == report.displayOptions.chartType}
        onclick=() => $helpers.onStyleClick(chartType, selectedPlotStyle)
      )= $helpers.formattedChartName(chartType, selectedPlotStyle)
      if styleChoicesForChartType.length > 1
        button.dropdown(onclick=() => $helpers.onDropdownClick(chartType))
      if isEditingCurrentStyle
        .chart-style.options
          each plotStyle in styleChoicesForChartType
            button.button-option.icon(
              class=[chartType, plotStyle]
              class={selected: selectedPlotStyle == plotStyle}
              onclick=() => $helpers.onStyleClick(chartType, plotStyle)
            )= $helpers.formattedChartName(chartType, plotStyle)
