ul.chart-toggle
  for type in $helpers.chartTypes()
    - const isEditingCurrentStyle = report.chartOptions.chartTypeEditing === type
    - const selectedStyle = $helpers.lastSelectedStyle(type)
    - const typeStyles = $helpers.chartTypeStyles(type)
    li.chart-type(class=type class={
      selected: type === report.chartOptions.type,
      editing: isEditingCurrentStyle
    })
      button.label.chart-icon(class=[type, selectedStyle] onclick=() => $helpers.onTypeClick(type))= $helpers.formattedStyleName(type, selectedStyle)
      if typeStyles.length > 1
        button.dropdown(onclick=() => $helpers.onDropdownClick(type))
      if isEditingCurrentStyle
        .chart-style-options
          .style-title= type
          each style in typeStyles
            button.style-option.chart-icon(
              class=[type, style]
              class={selected: selectedStyle == style}
              onclick=() => $helpers.onStyleClick(type, style)
            )= $helpers.formattedStyleName(type, style)
