- const showPane = $helpers.isEditingSeries()


ul.toggle-view
  li.compare(class= showPane ? 'selected' : '')
    button(onclick=() => $helpers.startEditingSeries())
  if showPane
    .pane-container(
        style={
          height: '400px',
          width: '400px',
        }
      )= $component.child('show-hide-series-pane')
