ul.toggle-view
  li.compare(class={selected: report.series.isEditing})
    button(onclick=$helpers.startEditingSeries)
  if report.series.isEditing
    .pane-container= $component.child('show-hide-series-pane')
