.pane-content-view
  ul.series-names
    each series in $helpers.seriesData()
      li
        button.series(
          class=$helpers.isSeriesShowing(series) ? 'showing' : 'hidden'
          onclick=() => $helpers.toggleShowSeries(series)
        )= $helpers.renameSeries(series)
  .info
    .count #{$helpers.selectedSeriesCount()}/#{$helpers.totalSeriesCount()}
    button.unselect(onclick=$helpers.resetSeries) Unselect all
