include ../mixins.jade

mp-drop-menu(
  attrs={open: $helpers.isPaneOpen()}
  on={change: $helpers.menuChange}
)
  +property-list($helpers.availableTypes(), {
    clickedProperty: $helpers.clickedType,
  })
