include ../mixins.jade

mp-drop-menu(
  attrs={open: $helpers.isPaneOpen()}
  on={change: $helpers.menuChange}
)
  mp-items-menu(
    attrs={
      progressive: true,
      sections: JSON.stringify([{items: $helpers.availableTypes()}]),
    }
    on={clickItem: $helpers.clickedType}
  )
