include ../mixins.jade

.builder-screen.time
  ul.screen-options-list
    each range in $helpers.RANGE_LIST
      li.list-option(onclick=() => $helpers.clickedRange(range))
        +screen-option(range, {noIcon: true})
        if range === $helpers.RANGES.CUSTOM
          +small-caret-icon()
