@import "../../../stylesheets/common"

.builder-pane .builder-screen.time-custom
  max-height initial
  width auto

  .range-control, .unit-control
    padding 20px

  .range-control
    min-height 252px
    padding-top 22px

  .unit-control
    padding-top 0

    .builder-label
      margin-bottom 12px

    mp-toggle
      width 100%
