include ../../mixins.jade
include ../mixins.jade

- const {from, to} = $helpers.getDates();

.builder-screen.time-custom
  +screen-title('Choose a date range', {backButton: true})
  .range-control
    irb-datepicker(
      attrs={range: true, 'double-calendar': true, preposition: `to`}
      props={value: {from, to}}
      on={change: $helpers.changedDates}
    )
  if report.displayOptions.chartType === `line`
    .unit-control
      .builder-label Time unit
      +tabs($helpers.UNITS, {
        selected: $helpers.getStageClauseAttr('unit'),
        onclick: $helpers.clickedUnit,
      })
