include ../../mixins.jade
include ../mixins.jade

- const {from, to} = $helpers.getDates();

.builder-screen.time-custom
  +screen-title('Choose a date range', {backButton: true})
  .range-control
    .range-inputs
      date-input(props={value: from} on={
        focus: $helpers.focusedFrom,
        blur: $helpers.blurredFrom,
        change: $helpers.changedFrom,
      })
      .preposition to
      date-input(props={value: to} on={
        focus: $helpers.focusedTo,
        blur: $helpers.blurredTo,
        change: $helpers.changedTo,
      })
    .range-calendar
      irb-calendar(
        attrs={
          range: true,
          fromFocused: $helpers.fromFocused(),
          toFocused: $helpers.toFocused(),
        }
        props={value: JSON.stringify({from, to})}
        on={change: $helpers.changedDates}
      )
  .unit-control
    .builder-label Time unit
    +tabs($helpers.UNITS, {
      selected: $helpers.getStageClauseAttr('unit'),
      onclick: $helpers.clickedUnit,
    })
