@import "../../../stylesheets/common"

.builder-pane .builder-screen.time-custom
  max-height initial
  width auto

  .range-control,
  .unit-control
    padding 20px

  .unit-control
    padding-top 0

    .builder-label
      margin-bottom 12px
