.builder-section.builder-time
  if report.sections.time.clauses.length
    .clause-container
      .clause-language.preposition in the
    .clause-container
      .clause-header
        .header-label Time
      .clause-body
        .control-container= $component.child('builder-time-edit-control', {attrs: {'clause-index': 0}})
