@import "../../stylesheets/common"

.irb-app.irb-learn
  color: red
  //&.irb-learn-modal
  //&.irb-learn-choose-event
  //&.irb-learn-compare-event
  //&.irb-learn-group-by
  //&.irb-learn-manipulate-data
