include ./tooltip.jade

.irb-learn
  if learnActive
    - const step = util.getLearnStep(report, learnModalStepIndex);
    - const isModalStep = [`introduction`, `getting-started`, `conclusion`].includes(step.name);

    if isModalStep && !learnTransitioningOut
      mp-modal(attrs={open: true})
        .mp-modal-content
          .mp-modal-title
            case step.name
              when `introduction`
                | Introducing Insights
              when `conclusion`
                | Congratulations, you’ve built your first Insights query!
          .mp-modal-subtitle
            case step.name
              when `introduction`
                | Built to make exploring your data easier than ever,
                br
                | Insights allows you to create complex queries that help
                br
                | you understand how your customers use your product.
              when `conclusion`
                | You’ve only scratched the surface; go ahead and explore
                br
                | the full power of Insights. If you have other questions
                br
                | about all of the additional ways you can analyze and
                br
                | visualize your data using Insights,
                =" "
                a(href='docs-url-here') click here
                | .
          .mp-modal-close(on={click: $component.app.helpers.finishLearn})
            svg-icon(attrs={icon: 'x'})
        mp-button-bar.mp-button-bar-primary(
          on={click: () => $helpers.clickedModalButton(step.name)}
        )
          case step.name
            when `introduction`
              | Let's get started
            when `conclusion`
              | Continue exploring your data
