@import "../../stylesheets/common"

.irb-app.irb-learn-active
  .irb-learn-disabled,
  .irb-learn-disabled-except-first-child > :not(:first-child),
  .irb-learn-disabled-except-last-child > :not(:last-child),
  .builder-label,
  .builder-section:not(.builder-show),
  .irb-header,
  .option-secondary-action,
  .reset-query
    opacity 0.5
    pointer-events none

  &.irb-learn-choose-event
    .irb-learn-choose-event-disabled,
    .irb-learn-choose-event-disabled-except-first-child > :not(:first-child),
    .irb-learn-choose-event-disabled-except-last-child > :not(:last-child),
    .irb-result
      opacity 0.5
      pointer-events none

  &.irb-learn-compare-event
    .irb-learn-compare-event-disabled,
    .irb-learn-compare-event-disabled-except-first-child > :not(:first-child),
    .irb-learn-compare-event-disabled-except-last-child > :not(:last-child),
    .irb-result
      opacity 0.5
      pointer-events none

  &.irb-learn-group-by
    .irb-learn-group-by-disabled,
    .irb-learn-group-by-disabled-except-first-child > :not(:first-child),
    .irb-learn-group-by-disabled-except-last-child > :not(:last-child),
    .irb-result
      opacity 0.5
      pointer-events none

  &.irb-learn-manipulate-data
    .irb-learn-manipulate-data-disabled,
    .irb-learn-manipulate-data-disabled-except-first-child > :not(:first-child),
    .irb-learn-manipulate-data-disabled-except-last-child > :not(:last-child),
    .new-irb-builder
      opacity 0.5
      pointer-events none
