.irb-learn
  case learnFlow.step.name
    when `introduction`
      span test modal introduction
    when `getting-started`
      span test modal getting-started
    when `choose-event`
      span test modal choose-event
    when `compare-event`
      span test modal compare-event
    when `group-by`
      span test modal group-by
    when `manipulate-data`
      span test modal manipulate-data
    when `conclusion`
      span test modal conclusion
