mixin irb-learn-tooltip(...stepNames)
  if learnActive
    - const step = util.getLearnStep(report, learnModalStepIndex)
    - const stepName = stepNames.includes(step.name) ? step.name : stepNames[stepNames.length - 1].name

    mp-tutorial-tooltip(
      class={'irb-learn-reminding': learnReminding}
      attrs={
        hide: learnTransitioningOut || !stepNames.includes(step.name),
        'placement': `right`,
        'num-steps': 4,
        'curr-step': step.index - 1,
      }
    )
      .mp-tooltip-title
        case stepName
          when `choose-event`
            | Let's start by choosing an event to show
          when `compare-event`
            | Next, let's compare it to a different event
          when `group-by`
            | Now, let's add a group by function
          when `manipulate-data`
            | Lastly, let’s adjust your data visualization
      .mp-tooltip-subtitle
        case stepName
          when `choose-event`
            | By choosing an event you’ll see how many times your customers completed the action in the chart below.
          when `compare-event`
            | Display multiple events to compare how often your customers complete these actions in your product.
          when `group-by`
            | Grouping your events allows you to see how different types of customers use your product.
          when `manipulate-data`
            | Change your chart type or adjust how you want to compare event counts to surface insights faster.
      .mp-tooltip-close(on={click: () => $component.app.helpers.finishLearn()})
        svg-icon(attrs={icon: 'x'})
