mixin irb-learn-tooltip(...stepNames)
  if learnStep && stepNames.includes(learnStep.name)
    mp-tutorial-tooltip(attrs={
      open: true,
      numSteps: 4,
      currStep: learnStepIndex - 2,
    })
      .mp-tooltip-content
        .mp-tooltip-title
          case learnStep.name
            when `choose-event`
              | Let's start by choosing an event
            when `compare-event`
              | Next, let's compare it to another event
            when `group-by`
              | Now let's add a group by function
            when `manipulate-data`
              | Manipulate your data
        .mp-tooltip-subtitle
          case learnStep.name
            when `choose-event`
              | The Show Menu lets you specify a dataset to measure, like an event for instance.
            when `compare-event`
              | The modifier button gives you different options based on the dataset that you select.
            when `group-by`
              | The Group By function in Inquiry lets you look at different segments of your datasets.
            when `manipulate-data`
              | Choose a different chart, analysis, and value types really get a handle on your data.
