mixin irb-learn-tooltip(...stepNames)
  if learnActive
    - const step = util.getLearnStep(learnModalStepIndex, report);

    if stepNames.includes(step.name)
      - const placement = step.name === `manipulate-data` ? `center` : `right`;
      - const overrideTop = placement === `center` ? `70px` : null;

      mp-tutorial-tooltip(attrs={
        placement,
        overrideTop,
        numSteps: 4,
        currStep: step.index - 2,
      })
        .mp-tooltip-title
          case step.name
            when `choose-event`
              | Let's start by choosing an event
            when `compare-event`
              | Next, let's compare it to another event
            when `group-by`
              | Now let's add a group by function
            when `manipulate-data`
              | Manipulate your data
        .mp-tooltip-subtitle
          case step.name
            when `choose-event`
              | The Show Menu lets you specify a dataset to measure, like an event for instance.
            when `compare-event`
              | The modifier button gives you different options based on the dataset that you select.
            when `group-by`
              | The Group By function in Inquiry lets you look at different segments of your datasets.
            when `manipulate-data`
              | Choose a different chart, analysis, and value types to really get a handle on your data.
