@import "../../stylesheets/common"

.irb-header
  align-items center
  border-bottom 1px solid light-gray
  display flex
  height 60px
  padding 5px 20px
  panel-top()

  auto-sizing-input
    display inline-block
    input
      background-color inherit
      border none
      color medium-gray
      font-size 20px
      outline none

  button
    background-color initial
    border 1px solid light-gray
    border-radius 3px
    color medium-gray
    display inline-block
    outline none
    padding 5px

    &.refresh-query
      margin-right 5px

    &.save-report
      opacity 0
      transition opacity 0.3s
      &.active
        opacity 1

  .loading-dock
    display inline-block
    margin-left auto

    button
      background-color transparent
      background-position center
      background-repeat no-repeat
      border none
      border-radius 0
      height 25px
      width 30px
      &:not(:last-child)
        border-right 1px solid light-gray

      &.download
        background-image url("~assets/dock/export-inactive.svg")
        cursor default
        &.enabled
          cursor pointer
          &:hover
            background-image url("~assets/dock/export.svg")

      &.report-list-button
        background-image url("~assets/dock/report-list.svg")
