.irb-header.irb-learn-disabled
  mp-button-input(
    attrs={buttonText: `Save`, disabled: !projectHasEvents}
    props={value: report.title}
    on={change: $helpers.updateTitle}
  )
  .loading-dock
    button.refresh-query(
      attrs={title: `Refresh results`}
      on={click: $helpers.refresh}
    )
      svg-icon(attrs={icon: `refresh`})
    button.download(
      attrs={title: `Download CSV`}
      class={enabled: !resultLoading}
      on={click: $helpers.clickExportCSV}
    )
      svg-icon(attrs={icon: `export`})
    button.report-list-button(
      attrs={title: `Saved reports`}
      class={enabled: $helpers.reportListEnabled()}
      on={click: $helpers.clickReportList}
    )
      svg-icon(attrs={icon: `saved-reports`})
