- const svg = require('virtual-dom/virtual-hyperscript/svg')
.irb-header
  mp-button-input(
    value=report.title
    attributes={buttonText: 'Save'}
    onchange=$helpers.updateTitle
  )
  .loading-dock
    button.refresh-query(onclick=$helpers.refresh title="Refresh results")
      svg-icon(attributes={icon: 'refresh'})
    button.reset-query(onclick=$helpers.reset title="Reset query")
      svg-icon(attributes={icon: 'reset'})
    button.download(
      onclick=$helpers.clickExportCSV
      class={enabled: !resultLoading}
      title="Download CSV"
    )
      svg-icon(attributes={icon: 'export_(outline)'})
    button.report-list-button(
      onclick=$helpers.clickReportList
      class={enabled: $helpers.reportListEnabled()}
      title="Saved reports"
    )
      svg-icon(attributes={icon: 'saved_reports'})
