- const svg = require('virtual-dom/virtual-hyperscript/svg')
.irb-header
  mp-button-input(
    value=report.title
    attributes={buttonText: 'Save'}
    onchange=$helpers.updateTitle
  )
  .loading-dock
    .svg-icon= svg('svg.icon2', {height: 22, width: 22}, [svg('use', {'xlink:href': '#icon-reset'})])
    button.refresh-query(onclick=$helpers.refresh title="Refresh results")
    button.reset-query(onclick=$helpers.reset title="Reset query")
    button.download(
      onclick=$helpers.clickExportCSV
      class={enabled: !resultLoading}
      title="Download CSV"
    )
    button.report-list-button(
      onclick=$helpers.clickReportList
      class={enabled: $helpers.reportListEnabled()}
      title="Saved reports"
    )
