.irb-header
  auto-sizing-input(
    value=report.title
    onblur=$helpers.blurTitleInput
    onchange=$helpers.updateReportTitle
    onfocus=$helpers.focusTitleInput
  )
  button.save-report(class={active: editingTitle} onclick=$helpers.save) Save
  .loading-dock
    button.refresh-query(onclick=$helpers.refresh)
    button.reset-query(onclick=$helpers.reset)
    button.download(
      onclick=$helpers.clickExportCSV
      class={enabled: !resultLoading}
    )
    button.report-list-button(
      onclick=$helpers.clickReportList
      class={enabled: $helpers.reportListEnabled()}
    )
