.irb-header.irb-learn-disabled
  mp-button-input(
    attrs={buttonText: `Save`, disabled: !$helpers.titleInputEnabled()}
    props={value: report.title}
    on={change: $helpers.updateTitle}
  )
  .loading-dock
    button.refresh-query(
      attrs={title: `Refresh results`}
      on={click: $helpers.refresh}
    )
      svg-icon(attrs={icon: `refresh`})
      mp-tooltip(attrs={placement: `bottom`}) Refresh
    button.download(
      attrs={title: `Download CSV`}
      class={enabled: !resultLoading}
      on={click: $helpers.clickExportCSV}
    )
      svg-icon(attrs={icon: `export`})
      if $helpers.showExportCSVIcon()
        .upsell-icon
          svg-icon(attrs={icon: `lighting-bolt`})
      mp-tooltip(attrs={placement: `bottom`}) Download CSV
    .upsell-wrapper.csv-export
      mp-upsell-popup(
        attrs={
          feature: `export-csv`,
          open: $helpers.showExportCSVUpsell(),
        }
        on={change: $helpers.closeUpsell}
      )
    button.report-list-button(
      attrs={title: `Saved reports`}
      class={saved, 'save-failed': saveFailed}
      on={click: $helpers.clickReportList}
    )
      svg-icon(attrs={icon: `saved-reports`})
      mp-tooltip(attrs={placement: `bottom`}) Saved reports
    .upsell-wrapper.save-report
      mp-upsell-popup(
        attrs={
          feature: `bookmark-maximum`,
          open: $helpers.showSaveReportUpsell(),
        }
        on={change: $helpers.closeUpsell}
      )
