.irb-header
  button.refresh-query(onclick=$helpers.refresh) Refresh
  auto-sizing-input(
    value=report.title
    onblur=$helpers.blurTitleInput
    onchange=$helpers.updateReportName
    onfocus=$helpers.focusTitleInput
  )
  button.save-report(class={active: editingTitle} onclick=$helpers.save) Save
