@import "../../stylesheets/common"

.irb-header
  clearfix()
  align-items center
  border-bottom 1px solid light-gray
  display flex
  height 60px
  margin 0 24px
  padding-top 10px

  auto-sizing-input
    display inline-block
    input
      border none
      color medium-gray
      font-size 20px
      outline none

  button
    background-color initial
    border 1px solid light-gray
    border-radius 3px
    color medium-gray
    font-size 20px
    display inline-block
    outline none
    padding 5px

    &.refresh-query
      margin-right 5px

    &.save-report
      opacity 0
      transition opacity 0.3s
      &.active
        opacity 1

  .loading-dock
    display inline-block
    float right

    button
      background-color transparent
      background-position center
      background-repeat no-repeat
      border none
      height 25px
      width 20px

      &.download
        background-image url(../../../assets/dock/export-inactive.svg)
        cursor default

        &.enabled
          cursor pointer

          &:hover
            background-image url(../../../assets/dock/export.svg)
