.irb-header
  mp-button-input(
    value=report.title
    attributes={buttonText: 'Save'}
    onchange=$helpers.updateTitle
  )
  .loading-dock
    button.refresh-query(onclick=$helpers.refresh)
    button.reset-query(onclick=$helpers.reset)
    button.download(
      onclick=$helpers.clickExportCSV
      class={enabled: !resultLoading}
    )
    button.report-list-button(
      onclick=$helpers.clickReportList
      class={enabled: $helpers.reportListEnabled()}
    )
