.irb-header
  button.refresh-query(onclick=$helpers.refresh) Refresh
  auto-sizing-input(
    value=report.title
    onblur=$helpers.blurTitleInput
    onchange=$helpers.updateReportTitle
    onfocus=$helpers.focusTitleInput
  )
  button.save-report(class={active: editingTitle} onclick=$helpers.save) Save
  .loading-dock
    button.download(
      onclick=$helpers.clickExportCSV
      class={enabled: !resultLoading}
    )
