@import "../../stylesheets/common"

icon-colors(base, hover)
  svg-icon svg
    fill base
  &:hover
    svg-icon svg
      fill hover

.irb-header
  align-items center
  border-bottom 1px solid light-gray
  display flex
  height 60px
  padding 0 20px 0 13px
  panel-top()

  button
    background-color initial
    border 1px solid light-gray
    border-radius 3px
    color medium-gray
    display inline-block
    outline none
    padding 5px

  .loading-dock
    display inline-block
    margin-left auto

    button
      // background-color grey-700
      // background-position center
      // background-repeat no-repeat
      border none
      border-radius 0
      height 25px
      width 30px
      icon-colors(grey-700, grey-500)

      // &.refresh-query
      //   mask url("~assets/dock/refresh.svg") no-repeat center

      // &.reset-query
      //   mask url("~assets/dock/reset.svg") no-repeat center

      &.download
        // mask url("~assets/dock/export.svg") no-repeat center
        cursor default
        &.enabled
          cursor pointer

      // &.report-list-button
      //   mask url("~assets/dock/report-list.svg") no-repeat center
