.irb-title-input
  if enabled
    .title-input-enabled(class={'input-focused': active})
      resize-input.title-input(
        attrs={
          placeholder: `Untitled report`,
        }
        props={
          maxLength: 80,
          type: `text`,
          value: inputValue,
        }
        on={
          input: $helpers.inputChange,
          blur: $helpers.blur,
          focus: $helpers.focus,
        }
      )
      button.title-save-new(
        on={
          click: $helpers.clickSaveNew,
          mousedown: $helpers.buttonSaveNewMousedown,
        }
      ) Save new
      button.title-save(
        on={
          click: $helpers.clickSave,
          mousedown: $helpers.buttonSaveMousedown,
        }
      ) Save
  else
    .title-input-disabled= inputValue
