.irb-title-input
  if enabled
    .title-input-enabled(class={'input-focused': active})
      resize-input.title-input(
        attrs={
          placeholder: `Untitled report`,
        }
        props={
          maxLength: 80,
          type: `text`,
          value: inputValue,
        }
        on={
          input: $helpers.inputChange,
          blur: $helpers.blur,
          focus: $helpers.focus,
        }
      )
      if active
        if $component.isAttributeEnabled(`show-save-new`)
          button.title-save-new(
            class={'title-button-disabled': $helpers.isSaveNewDisabled()}
            on={
              click: ev => $helpers.clickSaveNew(ev),
              mousedown: $helpers.buttonMousedown,
            }
          ) Save new
        button.title-save(
          class={'title-button-disabled': $helpers.isSaveDisabled()}
          on={
            click: ev => $helpers.clickSave(ev),
            mousedown: $helpers.buttonMousedown,
          }
        ) Save
  else
    .title-input-disabled= inputValue
