.mp-button-input
  if enabled
    input(
      class={active}
      props={
        maxLength: 50,
        type: `text`,
        value: inputValue,
      }
      on={
        change: $helpers.inputChange,
        blur: $helpers.blur,
        focus: $helpers.focus,
      }
    )
    button.input-button(
      class={active}
      on={
        click: $helpers.clickSave,
        mousedown: $helpers.buttonMousedown,
      }
    )= $component.getAttribute(`buttonText`)
  else
    .disabled-input= inputValue
