.mp-button-input
  if enabled
    input(
      class={active}
      props={
        maxLength: 80,
        placeholder: `Untitled report`,
        type: `text`,
        value: inputValue,
      }
      style={
        width: `${inputWidth}px`
      }
      on={
        input: $helpers.inputChange,
        blur: $helpers.blur,
        focus: $helpers.focus,
      }
    )
    button.input-button(
      class={active}
      on={
        click: $helpers.clickSave,
        mousedown: $helpers.buttonMousedown,
      }
    )= $component.getAttribute(`buttonText`)
  else
    .disabled-input(style={width: `${inputWidth}px`})= inputValue
