@import "../../stylesheets/common"

border-curve = 3px
button-height = 36px

active-input()
  background-color #fff
  border 1px solid border-gray
  outline none

mp-button-input
  height button-height
  position relative

  .mp-button-input
    display flex
    &:hover input
      active-input()

  .disabled-input, input[type=text], span.mp-name-input-dummy
    background-color inherit
    border 1px solid transparent
    border-radius border-curve
    color grey-500
    font-size 20px
    font-weight normal
    height button-height
    outline none
    padding 0 20px

  .disabled-input
    line-height button-height

  input[type=text]
    &:focus, &:hover
      active-input()
    &.active
      border-radius border-curve 0 0 border-curve
      border-right none
      padding-right 10px
      transition width .1s

  button.input-button
    background-image linear-gradient(to top, blue-300, blue-100), linear-gradient(blue-300, blue-300)
    border 1px solid blue-700
    border-radius 0 border-curve border-curve 0
    color #fff
    cursor text
    font-size 14px
    font-weight bold
    height button-height
    opacity 0
    transition opacity 0.3s
    width 72px
    &.active
      cursor pointer
      opacity 1
