@import "../../../stylesheets/common"

.irb-builder
  clearfix()
  font-size 16px

  h3
    color lightgrey
    font-size 12px
    font-weight 400
    margin-bottom 8px
    text-transform uppercase

  .leading-text, .control
    float left

  .leading-text
    margin-top 33px

  .control
    padding 8px

    >
      div, button
        float left
        vertical-align bottom

    .comparison
      height 100%

    button
      border 1px solid grey
      border-radius 2px
      font-size 16px

      + button
        margin-left 8px

  .query
    clearfix()
    > div
      float left

  .filters
    margin-left 8px
