@import "../../../stylesheets/common"

.irb-builder
  .irb-query
    clearfix()

    > div
      float left

  .leading-text, .control
    height 50px
    float left

  .leading-text
    margin-top 21px

  .control
    >
      div, button
        float left
        vertical-align bottom

    .comparison
      height 100%

    button
      border 1px solid grey
      border-radius 2px
