@import "../../../stylesheets/common"

.control-view
  button.modify
    background transparent
    border 1px solid light-gray
    color dark-gray
    font-size 16px
    font-weight 500
    margin-top -1px
    padding 8px 10px

    &:hover
      color darken(dark-gray, 30%)
      border-color medium-gray

  &.noun button.modify
    border-width 0
    border-bottom-width 1px
    padding 8px 0

  &.verb button.modify
    border-radius 2px
    font-size 14px
    margin-top -2px

    &::before
      color light-gray
      content '+'
      display inline-block
      font-size 18px
      font-weight 600
      margin-right 4px
      margin-top -4px

  &.noun, &.verb
    float left
    position relative

  button.remove
    background none
    border none
    color light-gray
    font-weight 600
    opacity 0
    position absolute
    right -6px
    top -10px
    transition opacity .1s

    &::after
      content '✕'

    &:hover
      color dark-gray

  &:hover button.remove
    opacity 1

  .pane-container
    box-shadow 0px 3px 10px -4px black
    position absolute
    top 40px
    z-index 2

.show-edit-control-view
  min-width 60px

.group-edit-control-view
  min-width 65px
