@import "../../../stylesheets/common"

.filter-property-pane-content-view,
.filter-property-value-pane-content-view
  height 100%
  white-space nowrap

.filter-property-pane-content-view
  overflow hidden

  ul.resource-value
    width 328px

.filter-property-value-pane-content-view
  .operator
    margin 12px
    width 50%
