@import "../../../stylesheets/common"

.filter-property-pane-content-view,
.filter-property-value-pane-content-view
  height 100%
  overflow hidden
  white-space nowrap

.filter-property-pane-content-view
  ul.resource-value
    width 328px

.filter-property-value-pane-content-view
  ul.resource-value
    width 313px
