@import "../../../stylesheets/common"

.show-pane-view, .time-pane-view, .group-pane-view
  background white
  border-radius 3px
  box-shadow 0px 3px 10px -4px black
  left -1px
  position absolute
  top 40px
  width 400px
  z-index 1

  .header, .footer
    line-height 36px
    text-align center
    width 100%

  .header
    background medium-gray
    border-radius 3px 3px 0 0
    color white

  .search
    position relative

    &::before
      border 1px solid medium-gray
      border-radius 12px
      content ''
      height 12px
      left 10px
      position absolute
      top 10px
      width 12px

    &::after
      content ''
      background medium-gray
      height 2px
      position absolute
      top 23px
      left 21px
      transform rotate(45deg)
      width 6px

    input
      background lighten(background-gray, 50%)
      border none
      color dark-gray
      font-size 16px
      height 36px
      margin 0
      outline none
      padding 0
      text-indent 32px
      width 100%



  .content
    height 250px

    > div
      height 100%
      white-space nowrap
      overflow hidden

    ul
      display inline-block
      height 100%
      padding-top 4px
      overflow scroll

      &::-webkit-scrollbar
        display none

      &:first-child
        text-align right

      &:not(:last-child)
        border-right 1px solid light-gray

      li
        cursor pointer
        padding 4px 12px

        &.selected, &:hover
          color dark-gray

  .footer
    background background-gray
    border-radius 0 0 3px 3px

