@import "../../../stylesheets/common"

.show-pane-content-view
  height 100%
  overflow hidden
  white-space nowrap

  ul.math, ul.resource-type
    li.disabled
      opacity .5
      pointer-events none

  ul.resource-value
    width 248px
