@import "../../../stylesheets/common"

.time-pane-view
  .content
    height auto

.time-pane-content-view
  ul.column.ranges
    padding 12px 0

    li
      padding 5px 20px
      text-align left
      text-transform none
      font-size 14px
