@import "../../../stylesheets/common"

.time-pane-view
  .content
    height auto

.time-pane-content-view
  text-align center
  padding 16px 0 13px 0

  irb-date-picker
    display inline-block

    .date_dropdown
      position relative
