- const learnStep = util.getLearnStep(report)
- const isManipulateDataStep = learnStep.name === `manipulate-data`

.irb-result(
  class=util.learnClasses({
    disabledSteps: [`choose-event`, `compare-event`, `group-by`],
    tooltipContainer: true,
    transitioning: learnTransitioningIn && isManipulateDataStep,
  })
)
  .result-controls= $component.child('chart-controls')
  .result-display= $component.child('chart-display')
