.irb-result
  .controls= $component.child('chart-controls')
  .chart(class={loading: result.loading})
    case report.chartType
      when 'bar'
<<<<<<< 2c7c37dd77c4e7b765f54c78af37db5a1a2f5f42
        bar-chart(attributes={
          data: JSON.stringify($helpers.filterResults(result)),
          sorting: JSON.stringify(report.sorting.bar),
        })
=======
        bar-chart(attributes={data: JSON.stringify($helpers.filterResults(result)), chartOptions: JSON.stringify($helpers.getChartOptions())})
>>>>>>> pass chartOptions to the bar-chart component
      when 'line'
        line-chart(attributes={data: JSON.stringify($helpers.filterResults(result)), chartOptions: JSON.stringify($helpers.getChartOptions())})
      when 'table'
        - const clauses = report.sections.show.clauses;
        - let resourceDescription;
        if clauses.length === 1
          - resourceDescription = `${util.capitalize(clauses[0].math)} number of ${util.renameEvent(clauses[0].value)}`
        else
          - resourceDescription = 'Number of events'
        table-chart(attributes={data: JSON.stringify(util.extend($helpers.filterResults(result), {resourceDescription}))})
  if result.loading && report.chartType !== 'line'
    .loader
  mp-toast(
    attributes={
      'message': 'You have new data.',
      'select-text': 'Refresh',
      'showToast': newCachedData
    }
    onclose=$helpers.toastClosed
    onselect=$helpers.toastSelected
  )
