.irb-result
  .controls= $component.child('chart-toggle')
  .chart(class=result.loading ? 'loading' : '')
    - const attributes = {'data': JSON.stringify(result)};
    case chartType
      when 'line'
        line-chart(attributes=attributes)
      when 'bar'
        bar-chart(attributes=attributes)
  if result.loading && chartType !== 'line'
    .loader
