include ../irb-learn/tooltip.jade

.irb-result.irb-learn-tooltip-container
  .result-controls= $component.child('chart-controls')
  .result-display= $component.child('chart-display')
  mp-toast(
    attrs={
      'message': 'You have new data.',
      'select-text': 'Refresh',
      'showToast': newCachedData,
    }
    on={
      close: $helpers.toastClosed,
      select: $helpers.toastSelected,
    }
  )

  +irb-learn-tooltip(`manipulate-data`)
