.irb-result
  .controls= $component.child('chart-controls')
  .chart(class={loading: result.loading})
    case chartType
      when 'bar'
        bar-chart(attributes={data: JSON.stringify($helpers.filterResults(result))})
      when 'line'
        line-chart(attributes={data: JSON.stringify($helpers.filterResults(result))})
      when 'table'
        - const clauses = sections.show.clauses;
        - let resourceDescription;
        if clauses.length === 1
          - resourceDescription = `${util.capitalize(clauses[0].math)} number of ${util.renameEvent(clauses[0].value)}`
        else
          - resourceDescription = 'Number of events'
        table-chart(attributes={data: JSON.stringify(util.extend($helpers.filterResults(result), {resourceDescription}))})
  if result.loading && chartType !== 'line'
    .loader
