include ../irb-learn/tooltip.jade

- const learnStep = util.getLearnStep(report)

.irb-result(
  class=util.learnClasses({
    disabledSteps: [`choose-event`, `compare-event`, `group-by`],
    tooltipContainer: true,
    transitioning: learnTransitioningIn && learnStep.name === 'manipulate-data',
  })
)
  .result-controls= $component.child('chart-controls')
  .result-display= $component.child('chart-display')
  irb-toast(
    attrs={
      'message': 'You have new data.',
      'select-text': 'Refresh',
      'showToast': newCachedData,
    }
    on={
      close: $helpers.toastClosed,
      select: $helpers.toastSelected,
    }
  )

  +irb-learn-tooltip(`manipulate-data`)
