- const isRange = $helpers.isRange();
- const isDoubleCalendar = $helpers.isDoubleCalendar();

.datepicker
  if !$helpers.hideTextInputs()
    .inputs
      if isRange
        date-input(
          props={
            value: from,
          }
          on={
            focus: $helpers.focusedFrom,
            blur: $helpers.blurredFrom,
            change: $helpers.changedFrom,
          }
        )
        .preposition= $helpers.getPreposition() || `to`
        date-input(
          props={
            value: to,
          }
          on={
            focus: $helpers.focusedTo,
            blur: $helpers.blurredTo,
            change: $helpers.changedTo,
          }
        )
      else
        date-input(
          props={
            value: date,
          }
          on={
            change: ev => $helpers.selectDate({date: ev.detail}),
          }
        )
  .calendar
    mp-calendar(
      attrs={
        'is-range': isRange,
        'is-double-calendar': isDoubleCalendar,
        'min-date': $helpers.getMinDate(),
        'selected-date': date ? date : ``,
        'selected-from-date': from ? from : ``,
        'selected-to-date': to ? to : ``,
        'is-from-date-focused': fromFocused,
        'is-to-date-focused': toFocused,
      }
      on={
        selectDate: ev => $helpers.selectDate(ev.detail),
        draw: $helpers.resizedCalendar,
      }
    )
