- const isRange = $helpers.isRange();
- const isDoubleCalendar = $helpers.isDoubleCalendar();

.datepicker
  if !$helpers.hideTextInputs()
    .inputs
      if isRange
        date-input(
          props={
            value: from,
          }
          on={
            focus: $helpers.focusedFrom,
            blur: $helpers.blurredFrom,
            change: $helpers.changedFrom,
          }
        )
        .preposition= $helpers.getPreposition() || `to`
        date-input(
          props={
            value: to,
          }
          on={
            focus: $helpers.focusedTo,
            blur: $helpers.blurredTo,
            change: $helpers.changedTo,
          }
        )
      else
        date-input(
          props={
            value: date,
          }
          on={
            change: $helpers.changedDates,
          }
        )
  .calendar
    insights-calendar(
      attrs={
        'max-days': $helpers.maxDataHistory(),
        range: isRange,
        'double-calendar': isDoubleCalendar,
        'from-focused': fromFocused,
        'to-focused': toFocused,
      }
      props={
        value: isRange ? {from, to} : date,
        utcOffset,
      }
      on={
        change: $helpers.changedDates,
        resize: $helpers.resizedCalendar,
      }
    )
