sticky-scroll
  box-sizing border-box
  overflow-y auto
  position relative

  .sticky-header
    position absolute
    z-index 1

    .sticky-title
      box-sizing border-box
      left 0
      position absolute
      top 0
      width 100%

  .body
    box-sizing border-box
    height 100%
    position absolute
    width 100%
