@import "../../stylesheets/common"

// Learn modals

body insights-mp-modal.insights-learn
  width 520px

  .mp-modal-content
    background no-repeat center 42px/32% white
    padding 190px 20px 30px
    text-align center

    &.introduction
      background-image url("~assets/learn/introduction-modal.svg")

    &.conclusion
      background-image url("~assets/learn/conclusion-modal.svg")

  .mp-modal-close
    svg-icon-style(grey-300)
    cursor pointer
    position absolute
    right 24px
    top 24px
    transition color 100ms

    &:hover
      svg-icon-style(grey-200)

  // TODO these styles shouldn't be necessary once we don't need to extend mp-button-bar
  //      to insights-mp-button-bar; they're normally applied via mp-button-bar host-context
  insights-mp-button-bar
    display block
    height 48px
    margin-bottom -2px
    margin-left -1px
    width calc(100% + 2px)

.insights-app.insights-learn-active

  // Learn tooltips

  .insights-learn-tooltip-container
    position relative

    mp-tutorial-tooltip
      z-index 99 // allow drop-menus to overlap tooltips

    &:not(.insights-learn-transitioning) mp-tutorial-tooltip:not(.insights-learn-reminding)[hide="false"] + *
      z-index 100 // make sure tooltips don't overlap adjacent controls

    .mp-tooltip-title
      color grey-50
      font-size 16px
      font-weight bold
      line-height 2.2em

    .mp-tooltip-subtitle
      color rgba(255,255,255,0.64)
      font-size 14px
      line-height 1.7em


  // Learn disabled UI

  .insights-learn-disabled,
  .insights-learn-disabled-except-first-child > :not(:first-child),
  .insights-learn-disabled-except-last-child > :not(:last-child)
    opacity 0.2
    pointer-events none

  &.insights-learn-choose-event
    .insights-learn-choose-event-disabled,
    .insights-learn-choose-event-disabled-except-first-child > :not(:first-child),
    .insights-learn-choose-event-disabled-except-last-child > :not(:last-child)
      opacity 0.2
      pointer-events none

  &.insights-learn-compare-event
    .insights-learn-compare-event-disabled,
    .insights-learn-compare-event-disabled-except-first-child > :not(:first-child),
    .insights-learn-compare-event-disabled-except-last-child > :not(:last-child)
      opacity 0.2
      pointer-events none

  &.insights-learn-group-by
    .insights-learn-group-by-disabled,
    .insights-learn-group-by-disabled-except-first-child > :not(:first-child),
    .insights-learn-group-by-disabled-except-last-child > :not(:last-child)
      opacity 0.2
      pointer-events none

  &.insights-learn-manipulate-data
    .insights-learn-manipulate-data-disabled,
    .insights-learn-manipulate-data-disabled-except-first-child > :not(:first-child),
    .insights-learn-manipulate-data-disabled-except-last-child > :not(:last-child)
      opacity 0.2
      pointer-events none

  // Learn emphasis animations

  @keyframes wiggle
    15%
      transform translateX(-1px)
    30%
      transform translateX(2px)
    45%
      transform translateX(-4px)
    60%
      transform translateX(4px)
    75%
      transform translateX(-2px)
    90%
      transform translateX(1px)

  .insights-learn-transitioning .insights-learn-emphasize,
  .insights-learn-transitioning.insights-learn-emphasize > :not(mp-tutorial-tooltip),
  .insights-learn-reminding .insights-learn-emphasize,
  mp-tutorial-tooltip.insights-learn-reminding
    animation wiggle 1s cubic-bezier(.36,.07,.19,.97) 200ms both
    transform translateX(0)
