include ./tooltip.jade

.irb-learn
  if learnActive
    - const step = util.getLearnStep(report, learnModalStepIndex);
    - const isModalStep = [`introduction`, `getting-started`, `conclusion`].includes(step.name);

    if isModalStep && !learnTransitioningOut
      irb-mp-modal.irb-learn(attrs={open: true})
        .mp-modal-content(class={[step.name]: true})
          .mp-modal-title
            case step.name
              when `introduction`
                | Introducing Insights
              when `conclusion`
                | Congratulations, you’ve built your first Insights report!
          .mp-modal-subtitle
            case step.name
              when `introduction`
                | Built to make exploring your data easier than ever,
                br
                | Insights allows you to ask complex questions that help
                br
                | you understand how your customers use your product.
              when `conclusion`
                | You’ve only scratched the surface of the full power of
                br
                | Insights. If you have other questions about all of the
                br
                | new ways you can analyze your data,
                =" "
                a(
                  attrs={
                    href: `/help/questions/articles/where-can-i-find-more-information-on-insights`,
                    target: `_blank`,
                  }
                  on={
                    click: $helpers.clickedHelp,
                  }
                ) click here
                | .
          .mp-modal-close(on={click: $component.app.helpers.finishLearn})
            svg-icon(attrs={icon: 'x'})
        irb-mp-button-bar.mp-button-bar-primary(
          on={click: () => $helpers.clickedModalButton(step.name)}
        )
          case step.name
            when `introduction`
              | Let's get started
            when `conclusion`
              | Continue exploring your data
