mixin irb-learn-tooltip(...stepNames)
  if learnActive
    - const step = util.getLearnStep(report, learnModalStepIndex)
    - const stepName = stepNames.includes(step.name) ? step.name : stepNames[stepNames.length - 1].name

    mp-tutorial-tooltip(
      class={
        'irb-learn-reminding': learnReminding,
      }
      attrs={
        hide: learnTransitioningOut || !stepNames.includes(step.name),
        'placement': `right`,
        'num-steps': 4,
        'curr-step': step.index - 1,
        'closeable': true,
      }
      on={
        close: () => $component.app.helpers.finishLearn(),
      }
    )
      .mp-tooltip-title
        case stepName
          when `choose-event`
            | Start by choosing an event to show
          when `compare-event`
            | Now compare that to a different event
          when `group-by`
            | Next, group your events by a property
          when `manipulate-data`
            | Lastly, choose the best-suited visualization
      .mp-tooltip-subtitle
        case stepName
          when `choose-event`
            | Choosing an event shows you how many times your customers completed that action in the chart below.
          when `compare-event`
            | Compare multiple events to see if your customers are performing certain events more than others.
          when `group-by`
            | Break your events down into groups to answer deeper questions about how your customers use your product.
          when `manipulate-data`
            | A line chart works well for displaying your data over time, while a bar chart is better at showing quantity.
