- const hasLegend = $helpers.showLegend();

.chart(class={
  [`${report.displayOptions.chartType}-chart-type`]: true,
  'has-legend': hasLegend,
})
  .main-chart
    if resultLoading && projectHasEvents
      .chart-loader
        .chart-header-container
          .header-text-container
            .header-text
          .header-icon
            svg-icon(attrs={icon: 'ellipsis'})
        .chart-graph
          .chart-graph-text Gathering all the data...
          mp-spinner
    else if !projectHasEvents
      .chart-loader
        .chart-header-container
          .header-text-container
          .header-icon
        .chart-graph
          .chart-error-data-image
          .chart-error-no-data-text We don't have any data for your project.
    else
      - const processedResult = $helpers.processResult(result);
      case report.displayOptions.chartType
        when 'bar'
          .extras-menu-container.chart-control= $component.child('extras-menu')
          bar-chart(
            attrs=$helpers.stringifyObjValues({
              'data': processedResult,
              'segment-color-map': report.legend.colorMap,
              'chart-label': $helpers.getChartLabel(),
              'display-options': $helpers.getDisplayOptions(),
              'function-label': $helpers.getFunctionLabel(),
              'sorting': report.sorting.bar,
              'legend-change-id': report.legend.changeID,
            })
            on={
              change: $helpers.barChartChange,
            }
          )
        when 'line'
          .extras-menu-container.chart-control= $component.child('extras-menu')
          line-chart(
            attrs=$helpers.stringifyObjValues({
              'chart-label': $helpers.getChartLabel(),
              'data': processedResult,
              'display-options': $helpers.getDisplayOptions(),
            })
          )
        when 'table'
          - const functionLabel = $helpers.getFunctionLabel();
          - const resourceDescription = $helpers.getChartLabel() + (functionLabel ? ` ${functionLabel}` : '');
          table-chart(
            attrs=$helpers.stringifyObjValues({
              'data': util.extend(processedResult, {resourceDescription: resourceDescription}),
              'display-options': $helpers.getDisplayOptions(),
              'sorting': report.sorting.table,
            })
            on={
              change: $helpers.tableChange,
            }
          )
  if hasLegend
    .legend.irb-learn-manipulate-data-disabled= $component.child('chart-legend')
