.chart(class=`${report.displayOptions.chartType}-chart-type`)
  .main-chart
    if resultLoading
      .chart-loader
        .chart-header-container
          .header-text-container
            .header-text
          .header-icon
        .chart-graph
          .chart-graph-text Gathering all the data...
            .loader
    else
      - const processedResult = $helpers.processResult(result);
      case report.displayOptions.chartType
        when 'bar'
          .extras-menu-container.chart-control= $component.child('extras-menu')
          bar-chart(
            attributes=$helpers.stringifyObjValues({
              'data': processedResult,
              'segment-color-map': report.legend.colorMap,
              'chart-label': $helpers.getChartLabel(),
              'display-options': $helpers.getDisplayOptions(),
              'function-label': $helpers.getFunctionLabel(),
              'sorting': report.sorting.bar,
            })
            onchange=$helpers.barChartChange
          )
        when 'line'
          .extras-menu-container.chart-control= $component.child('extras-menu')
          line-chart(
            attributes=$helpers.stringifyObjValues({
              'chart-label': $helpers.getChartLabel(),
              'data': processedResult,
              'display-options': $helpers.getDisplayOptions(),
            })
          )
        when 'table'
          - const functionLabel = $helpers.getFunctionLabel();
          - const resourceDescription = $helpers.getChartLabel() + (functionLabel ? ` ${functionLabel}` : '');
          table-chart(
            attributes=$helpers.stringifyObjValues({
              'data': util.extend(processedResult, {resourceDescription: resourceDescription}),
              'display-options': $helpers.getDisplayOptions(),
              'sorting': report.sorting.table,
            })
            onchange=$helpers.tableChange
          )
  if $helpers.showLegend()
    if resultLoading
      .legend
        .chart-legend
          .header Legend
          .content-wrapper
            .search
              input(type="text", placeholder="search")
            .body-loader
              for i in _.range(5)
                .series-loader
                  .select-icon-loader
                  .label-loader
    else
      .legend= $component.child('chart-legend')
