@import "../../stylesheets/common"

.irb-header
  border-bottom 1px solid light-gray
  margin 0 24px
  padding 24px 0 16px 0

  input
    border none
    color medium-gray
    font-size 20px
    outline none
