div(class=elementClass)
  .controls= views.chartToggle()
  .chart(class=state.result.loading ? 'loading' : '')= views.charts[state.chartType](state)
  if state.result.loading && state.chartType !== 'line'
    .loader
